a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	color: inherit;
}
/*회원가입*/
.signup {
	display: flex;
	justify-content: center;
	margin-top: 2.5em;
	font-size: 2em;
}
.signupform {
	display: flex;
	justify-content: center;
}
.signupform__namebox {
  display: flex;
  flex-direction: column;
}
.signupform__input-name {
	background-color: #ffff;
	padding: 0.9rem 0.7rem;
	margin: 0.5rem 0;
	width: 100%;
	border-radius: 0.5rem;
	border: 1px solid #0000;
}
.signupform-info {
	display : flex;
	width: 22rem;
	flex-direction: column;
	align-items: start;
	margin-bottom: 60px;
	color: #ffff;
}
.signupform__input {
	background-color: #ffff;
	padding: 0.5rem 0.4rem;
	margin: 0.3rem 0 1.5rem 0;
	width: 100%;
	border-radius: 0.5rem;
	border: 1px solid #0000;
}
.signupform__button {
	background-color: #75037F;
	color: #ffff;
	border: none;
	width: 22rem;
	padding: 1em ;
	border-radius: 2rem;
	margin-top: 1em;
}

/*로그인*/
.login {
	display: flex;
	justify-content: center;
	margin-top: 2.5em;
	font-size: 2em;
}
.loginform {
	display: flex;
	justify-content: center;
}

.loginform-info {
	display : flex;
	width: 22rem;
	flex-direction: column;
	align-items: start;
	margin-bottom: 60px;
	color: #ffff;
}
.loginform__input {
	background-color: #ffff;
	padding: 0.5rem 0.4rem;
	margin: 0.3rem 0 1.5rem 0;
	width: 100%;
	border-radius: 0.5rem;
	border: 1px solid #0000;
}
.loginform__button {
	background-color: #75037F;
	color: #ffff;
	border: none;
	width: 22rem;
	padding: 1em ;
	border-radius: 2rem;
	margin-top: 1em;
}
.loginform__button-signup {
	background-color: #848085;
	color: #ffff;
	border: none;
	width: 22rem;
	padding: 1em ;
	border-radius: 2rem;
	margin-top: 1em;
}

@media screen and (max-width: 503px) {
	.signupform-info,
	.signupform__button,
	.loginform-info,
	.loginform__button,
	.loginform__button-signup
	 {
		width: 70vw;
	}
}