/* signup */
.signup {
	display: flex;
	justify-content: center;
	margin-top: 2.5em;
	font-size: 2em;
}
.signupform {
	display: flex;
	justify-content: center;
}
.signupform__namebox {
  display: flex;
  flex-direction: column;
}
.signupform__input-name {
	background-color: var(--inputbg-color);
	padding: 0.9rem 0.7rem;
	margin: 0.5rem 0;
	width: 100%;
	border-radius: 0.5rem;
	border: 1px solid #0000;
}
.signupform-info {
	display : flex;
	width: 22rem;
	flex-direction: column;
	align-items: start;
	margin-bottom: 60px;
	color: var(--text-color);
}
.signupform__input {
	background-color: var(--inputbg-color);
	padding: 0.5rem 0.4rem;
	margin: 0.3rem 0 1.5rem 0;
	width: 100%;
	border-radius: 0.5rem;
	border: 1px solid #0000;
}
.signupform__button {
	background-color: #75037F;
	color: var(--text-color);
	border: none;
	width: 22rem;
	padding: 1em ;
	border-radius: 2rem;
	margin-top: 1em;
}

/* login */
.login {
	display: flex;
	justify-content: center;
	margin-top: 2.5em;
	font-size: 2em;
	color: var(--text-color);
}
.loginform {
	display: flex;
	justify-content: center;
}

.loginform-info {
	display : flex;
	width: 22rem;
	flex-direction: column;
	align-items: start;
	margin-bottom: 60px;
	color: var(--text-color);
}
.loginform__input {
	background-color: var(--inputbg-color);
	padding: 0.5rem 0.4rem;
	margin: 0.3rem 0 1.5rem 0;
	width: 100%;
	border-radius: 0.5rem;
	border: 1px solid #0000;
}
.loginform__button {
	background-color: #75037F;
	color: var(--text-color);
	border: none;
	width: 22rem;
	padding: 1em ;
	border-radius: 2rem;
	margin-top: 1em;
}
.loginform__button-signup {
	background-color: #848085;
	color: var(--text-color);
	border: none;
	width: 22rem;
	padding: 1em ;
	border-radius: 2rem;
	margin-top: 1em;
}

@media screen and (max-width: 503px) {
	.signupform-info,
	.signupform__button,
	.loginform-info,
	.loginform__button,
	.loginform__button-signup
	 {
		width: 70vw;
	}
}

/* mypage */
.userprofile {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 180px;
	margin: 1em 3em;
	align-items: center;
	text-align: center;
	border-bottom: 2px solid #b9b5b5;
}
.userprofile p {
	margin-bottom: 0;
}
.userprofile-img {
	font-size: 1rem;
}
.userprofile img {
	max-width: 40%;
	height: auto;
	margin-bottom: 10px;
}
.user-info {
	text-align: start;
	padding-bottom: 3vw;
	font-size: 2rem;
}
.user-info__follow {
	display: flex;
	margin-top: 5px;
}
.user-info__follow>div {
	margin-right: 2rem;
}
.form_radio_btn {
	display: flex;
	padding: 1em 0;
	justify-content: space-evenly;
	font-size: 3vw;
}
.form_radio_btn input[type=radio] {
  display: none;
}
.card-big-box {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 0px 7vw;
}
.box__menu {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2f2e2f;
	list-style: none;
	margin: 8px 0px;
	border-radius: 1em;
	font-size: 1.5rem;
	padding: 0;
}
.box-img {
	width: 50px;
	border-radius: 3px;
}
.box__menu li {
	padding: 8px 30px;
	width: 100%;
}
.box__menu li:hover {
	color: #ffffff;
}
.profile-music img {
	width: 50vw;
	height: auto;
	margin-bottom: 10px;
}
.profile-music {
	margin-bottom: 20px;
}
.profile-music-create {
	margin-top: 15px;
	width: 100%;
	text-align: end;
}
/* 반응형 */
@media screen and (max-width: 950px) {
	.userprofile-img {
		font-size: 1vw;
	}
	.user-info {
		font-size: 3vw;
	}
	.user-info__follow>div {
		margin-right: 1rem;
	}
	.form_radio_btn {
		font-size: 4vw;
	}
	.box__menu {
		font-size: 2vw;
	}
	.box__menu li {
		padding: 8px 10px;
	}
}
@media screen and (max-width: 500px) {
	.user-info__follow {
		flex-direction: column;
	}
	.user-info__follow div {
		margin-bottom: 5px;
	}
}

/* .form_radio_btn label {
  display: block;
  border-radius: 10px;
  margin: 0 auto;
  height: -webkit-fill-available;
  line-height: 45px;
} */