.private-player {
  display: flex;
  justify-content: center;
  position: relative;
}

.private-player img {
  width: 30vh;
}

.private-player--write {
  position: absolute;
  top: 17.5rem;
  right: 1rem;
}

.private-playButton{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
}

.private-playButton__image img {
  filter: invert(1);
  width: 2.5rem;
  margin: 0 2rem;
}

.box img {
  object-fit: cover;
  margin: 1rem;
  padding: 0.5rem;
  width: 100%;
}

.icon {
  position: fixed;
  right: 0px;
}

.hidden {
  display: none;
}

.toggleBtn2 {
  position: absolute;
}


/* The side navigation menu */
.sidenav {
  height: 0; /* 100% Full-height */
  width: 100%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 3; /* Stay on top */
  bottom: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  /* padding-top: 60px; Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  /* .sidenav {padding-top: 15px;} */
  .sidenav a {font-size: 18px;}
}

.private-comment a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.private-comment a:hover {
  color: #f1f1f1;
}

.sidenav__comment {
  height: 3rem;
}

.sidenav__comment > h3 {
  color: #818181;
  padding: 1rem;
}


/* articles/public */
.place__best {
  height: 200px;
  background-color: antiquewhite;
}

.place__recom {
  height: 600px;
  background-color: antiquewhite;
}

.place__bestUser {
  height: 200px;
  background-color: antiquewhite;
}