.private-player {
  display: flex;
  justify-content: center;
  position: relative;
}

.private-player img {
  width: 30vh;
}

.private-player--write {
  top: 17.5rem;
  right: 1rem;
}

.private-playButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
}

.private-playButton__image img {
  filter: invert(1);
  width: 2.5rem;
  margin: 0 2rem;
}

.box {
  display: flex;
  align-items: center;
}

.box img {
  object-fit: cover;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.5rem;
}

.icon {
  position: fixed;
  right: 0px;
}

.hidden {
  display: none;
}

.toggleBtn2 {
  position: absolute;
}


/* The side navigation menu */
.sidenav {
  height: 0;
  /* 100% Full-height */
  width: 100%;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 3;
  /* Stay on top */
  bottom: 0;
  /* Stay at the top */
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  /* padding-top: 60px; Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {

  /* .sidenav {padding-top: 15px;} */
  .sidenav a {
    font-size: 18px;
  }
}

.private-comment a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.private-comment a:hover {
  color: #f1f1f1;
}

.sidenav__comment {
  height: 3rem;
}

.sidenav__comment>h3 {
  color: #818181;
  padding: 1rem;
}

/* articles/public */
.place__best {
  height: 300px;
  background-color: antiquewhite;
}

.place__best--imgBox {
  width: 80%;
  background-color: gray;
}

.place__recom {
  height: 600px;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .place__recom--imgBox {
    width: 100%;
    background-color: green;
  }

}

@media (min-width: 800px) {
  .place__recom--imgBox {
    width: 80%;
    background-color: green;
  }
}


@media (min-width: 1000px) {
  .place__recom--imgBox {
    width: 70%;
    background-color: green;
  }
}


@media (min-width: 1200px) {
  .place__recom--imgBox {
    width: 60%;
    background-color: green;
  }
}

@media (min-width: 1400px) {
  .place__recom--imgBox {
    width: 50%;
    background-color: green;
  }
}

@media (min-width: 1400px) {
  .place__recom--imgBox {
    width: 40%;
    background-color: green;
  }
}


.place__bestUser {
  background-color: antiquewhite;
  display: flex;
  align-items: center;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.esdrop.com/d/f/HV29DjMTCH/lhdqnEkufU.jpg");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.playlist-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 8px;
}

.playlist-item {
  cursor: pointer;
}

.img-btn {
  position: relative;
  cursor: pointer;
  width: 380px;
}

.img-btn:hover img {
  opacity: 50%;
}

.img-btn:hover img {
  opacity: 50%;
}

.img-btn:hover .img-icon {
  opacity: 100;
}

.img-icon {
  opacity: 0;
  position: absolute;
  font-size: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* articles:song_detail */
.songDetail__container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.songDetail__imgText {
  height: 100px;
  background-color: antiquewhite;
}


/* 반응형 카드 이미지 */

.card {
  position: relative;
  width: 80vw;
  height: 60vh;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.014), 0 6.7px 5.3px rgba(0, 0, 0, 0.02), 0 12.5px 10px rgba(0, 0, 0, 0.025), 0 22.3px 17.9px rgba(0, 0, 0, 0.03), 0 41.8px 33.4px rgba(0, 0, 0, 0.036), 0 100px 80px rgba(0, 0, 0, 0.05);
  background-color:  rgb(20, 20, 20);
}

.card--image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 75px;
}

.card--image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ########################################### */


.card--div {
  /* margin: 20px auto; */
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 75px;
  z-index: 0;
}

.card--div:hover {
  box-shadow: 0 5px 35px 0px rgba(0, 0, 0, .1);
}

.card:hover:after,
.card--div:hover::before,
.card--div:hover::after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #FDA8CF;
  border-radius: 75px;
  z-index: -1;
  animation: 1s clockwise infinite ease;
}

.card--div:hover:after {
  background: #F3CE5E;
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }

  12% {
    top: -2px;
    left: 2px;
  }

  25% {
    top: 0;
    left: 5px;
  }

  37% {
    top: 2px;
    left: 2px;
  }

  50% {
    top: 5px;
    left: 0;
  }

  62% {
    top: 2px;
    left: -2px;
  }

  75% {
    top: 0;
    left: -5px;
  }

  87% {
    top: -2px;
    left: -2px;
  }

  100% {
    top: -5px;
    left: 0;
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }

  12% {
    top: -2px;
    right: 2px;
  }

  25% {
    top: 0;
    right: 5px;
  }

  37% {
    top: 2px;
    right: 2px;
  }

  50% {
    top: 5px;
    right: 0;
  }

  62% {
    top: 2px;
    right: -2px;
  }

  75% {
    top: 0;
    right: -5px;
  }

  87% {
    top: -2px;
    right: -2px;
  }

  100% {
    top: -5px;
    right: 0;
  }
}


/* ########################################### */

.card--info {
  --size: 20px;
  width: var(--size);
  height: var(--size);
  background: rgba(0, 0, 0, 0.75);
  border-radius: 2px;
  position: absolute;
  transition: width 550ms ease, height 550ms ease, right 550ms ease, background 550ms ease;
  overflow: hidden;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.014), 0 6.7px 5.3px rgba(0, 0, 0, 0.02), 0 12.5px 10px rgba(0, 0, 0, 0.025), 0 22.3px 17.9px rgba(0, 0, 0, 0.03), 0 41.8px 33.4px rgba(0, 0, 0, 0.036), 0 100px 80px rgba(0, 0, 0, 0.05), 0 0px 2.2px rgba(0, 0, 0, 0.045), 0 0px 5.3px rgba(0, 0, 0, 0.065), 0 0px 10px rgba(0, 0, 0, 0.08), 0 0px 17.9px rgba(0, 0, 0, 0.095), 0 0px 33.4px rgba(0, 0, 0, 0.115), 0 0px 80px rgba(0, 0, 0, 0.16), 0 0.2px 2.2px rgba(0, 0, 0, 0.014), 0 0.6px 5.3px rgba(0, 0, 0, 0.02), 0 1.1px 10px rgba(0, 0, 0, 0.025), 0 2px 17.9px rgba(0, 0, 0, 0.03), 0 3.8px 33.4px rgba(0, 0, 0, 0.036), 0 9px 80px rgba(0, 0, 0, 0.05);
}

.card--info::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.25) 50%, transparent 100%);
  z-index: 1;
  opacity: 0;
  transition: opacity 550ms ease;
}

.info--1 {
  bottom: 47%;
  right: 80%;
}

/* 인포 이미지 */
.card--info.info--1 .info--image img {
  top: -80%;
  left: -20%;
  object-fit: cover;
}


.card--info.info--2 {
  bottom: 25%;
  right: 15%;
}


.card--info.info--2 .info--image img {
  right: -20%;
  bottom: -80%;
  object-fit: cover;
}

.card--info .icon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card--info .icon ion-icon {
  color: white;
}

.card--info .info--text {
  display: block;
  position: absolute;
  left: 10%;
  bottom: 5%;
  font-size: 0.55rem;
  letter-spacing: 1px;
  font-family: "Montserrat";
  font-weight: bold;
  color: #fff;
  white-space: nowrap;
  z-index: 2;
  opacity: 0;
  transform: translateY(25%);
  transition: opacity 250ms ease, transform 250ms ease;
}

/* 인포 이미지 */
.card--info .info--image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* 인포 이미지의 img */
.card--info .info--image img {
  position: absolute;
  width: 340%;
  height: 340%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 550ms ease;
}


/* 툴팁 */
.custom-tooltip {
  --bs-tooltip-bg: var(--bs-dark);
}



/* 사연 */

.article_cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.article_card {
  margin: 10px auto;
  width: 160px;
  height: 90px;
  border-radius: 40px;
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.25), -2px -2px 15px 3px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;

}

.article_card .article_card_image {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  border: solid 4px antiquewhite;
  overflow: hidden;
}

.article_card_image img {
  width: 101%;
  height: 101%;
  border-radius: 40px;
  object-fit: cover; 
  filter: brightness(50%);
}

.article_card .article_card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-size: 20px;
  margin-top: -80px;
  margin-left: 20px;
  margin-right: 20px;
  height: 40px;
}

.article_card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 2px 2px 15px 3px rgba(0, 0, 0, 0.25),
    -2px -2px 15px 3px rgba(0, 0, 0, 0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .article_card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}


/*
.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}
*/


/* ########################################## */
/* ########################################## */
/* ########################################## */

/* 사연 디테일 */
.detail__button {
  margin-left: 8px;
  color: var(--text-color);
  background-color: #2a2a2a00;
  border: 1px solid #626262;
  border-radius: 5px;
  font-size: 0.7vw;
  padding: 3px 9px;
}
@media screen and (max-width: 1100px) {
  .detail__button {
    margin-left: 8px;
    color: var(--text-color);
    background-color: #2a2a2a00;
    border: 1px solid #626262;
    border-radius: 5px;
    font-size: 1.5vw;
    padding: 3px 9px;
  }
}

/* ########### 좋아요 버튼 ############# */

.heart-like-button {
  position: relative;
  width: 160px;
  height: 130px;
}

.heart-like-button:before {
  position: absolute;
  top: 0;
  left: 80px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  width: 80px;
  height: 125px;
  border-radius: 40px 40px 0 0;
  background-color: #574136;
  content: "";
  cursor: pointer;
  transition: background .4s;
}

.heart-like-button:after {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
  width: 80px;
  height: 125px;
  border-radius: 40px 40px 0 0;
  background-color: #574136;
  content: "";
  cursor: pointer;
  transition: background .4s;
}

h1 {
  margin: 0;
  color: #574136;
  font-size: 3rem;
  letter-spacing: 1px;
  text-align: center;
}

.heart-like-button.liked::before,
.heart-like-button.liked::after {
  background-color: #d65076;
}

.heart-like-button.liked {
  animation: liked .4s ease;
}

@keyframes liked {
  0% {
    transform: scale(.8);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 480px) {
  #container {
    height: auto;
  }

  h1 {
    font-size: 2.5rem;
  }
}