.private-player {
  display: flex;
  justify-content: center;
  position: relative;
}

.private-player img {
  width: 30vh;
}

.private-player--write {
  position: absolute;
  top: 17.5rem;
  right: 1rem;
}

.private-playButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
}

.private-playButton__image img {
  filter: invert(1);
  width: 2.5rem;
  margin: 0 2rem;
}

.box {
  display: flex;
  align-items: center;
}

.box img {
  object-fit: cover;
  padding: 0.5rem;
  width: 100%;
  border-radius: 1rem;
}

.icon {
  position: fixed;
  right: 0px;
}

.hidden {
  display: none;
}

.toggleBtn2 {
  position: absolute;
}


/* The side navigation menu */
.sidenav {
  height: 0;
  /* 100% Full-height */
  width: 100%;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 3;
  /* Stay on top */
  bottom: 0;
  /* Stay at the top */
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  /* padding-top: 60px; Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {

  /* .sidenav {padding-top: 15px;} */
  .sidenav a {
    font-size: 18px;
  }
}

.private-comment a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.private-comment a:hover {
  color: #f1f1f1;
}

.sidenav__comment {
  height: 3rem;
}

.sidenav__comment>h3 {
  color: #818181;
  padding: 1rem;
}


/* articles/public */
.place__best {
  height: 300px;
  background-color: antiquewhite;
}

.place__best--imgBox {
  width: 80%;
  background-color: gray;
}

.place__recom {
  height: 600px;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .place__recom--imgBox {
    width: 100%;
    background-color: green;
  }

}

@media (min-width: 800px) {
  .place__recom--imgBox {
    width: 80%;
    background-color: green;
  }
}


@media (min-width: 1000px) {
  .place__recom--imgBox {
    width: 70%;
    background-color: green;
  }
}


@media (min-width: 1200px) {
  .place__recom--imgBox {
    width: 60%;
    background-color: green;
  }
}


.place__bestUser {
  background-color: antiquewhite;
  display: flex;
  align-items: center;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.esdrop.com/d/f/HV29DjMTCH/lhdqnEkufU.jpg");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.playlist-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 8px;
}

.playlist-item {
  cursor: pointer;
}

.img-btn {
  position: relative;
  cursor: pointer;
  width: 380px;
}
.img-btn:hover img {
  opacity: 50%;
}
.img-btn:hover img {
  opacity: 50%;
}
.img-btn:hover .img-icon {
  opacity: 100;
}

.img-icon {
  opacity: 0;
  position: absolute;
  font-size: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
