@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');

:root {
  --text-color: #e2e2e2;
  --bg-color: #32323249;
  --inputbg-color: #f4f4f4;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(20, 20, 20);
  color: white;
}

#wrap {
  min-height: 100vh;
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
  font-family: 'NanumSquareRound';
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

i.bi-play-circle {
  cursor: pointer;
}

i.bi-music-note-beamed {
  cursor: pointer;
}

i.bi-chat-right-text-fill {
  cursor: pointer;
}

i.bi-heart-fill {
  cursor: pointer;
}


.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px 12px;
  background-color: var(--bg-color);
}

.navbar a {
  text-decoration: none;
}

.location {
  display: block;
  color: var(--text-color);
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14px;
  padding: 8px 12px;
}

.navbar__logo {
  color: var(--text-color);
  text-transform: uppercase;
  /* 각 글자 2px씩 간격을 줌*/
  letter-spacing: 2px;
  font-size: 1rem;
}

.navbar__logo i {
  color: #ea0aee;
}

.navbar__links {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0;
  padding: 0;
}

.navbar__links li {
  color: var(--text-color);
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  padding: 8px 12px;
}

.navbar__links i {
  display: none;
}

.navbar__links li:hover {
  color: #ffff;
}

.navbar__togleBtn {
  display: none;
  color: var(--text-color);
  font-size: 20px;
}

footer {
  z-index: 9;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* 반응형 */
@media screen and (max-width: 1100px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 12px;
  }

  .navbar__logo {
    display: none;
  }

  .navbar__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 5vw;
  }

  .navbar__links {
    width: 100%;
    height: 100%;
    background-color: #0a0a0a;
    position: fixed;
    padding: 70px 40px;
    top: 0;
    right: -100%;
    z-index: 10;
    transition: all .2s;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }

  .navbar__links li {
    width: 100%;
    margin: 10px 10px;
    text-align: start;
  }

  .navbar__links i {
    display: inline;
  }

  .navbar-logout {
    position: absolute;
    bottom: 30px;
  }

  .navbar__togleBtn {
    display: block;
    z-index: 12;
  }

  .navbar__togleBtn--close {
    display: none;
  }

  .navbar__links.active {
    right: 0;
    padding: 70px 40px;
  }

  .navbar__togleBtn--close.active {
    display: block;
    font-size: 23px;
  }

  .navbar__togleBtn--open.active {
    display: none;
  }
}

section {
  padding-bottom: 200px;
  /* footer의 height값과 동일 */
}

.footer {
  width: 100%;
  height: 180px;
  /* 내용물에 따라 알맞는 값 설정 */
  padding-top: 20px;
  bottom: 0px;
  position: absolute;
  z-index: 0;
}

.movie-music-btn {
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 32px;
  background: #000;
  border: 1px solid white;
}

.video-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

.video-button i {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 80px;
}

.player-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-btn i {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 50px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
}

#progress-bar {
  cursor: pointer;
  background: linear-gradient(to right, #fff 0%, #fff 50%, #6c757d 50%, #6c757d 100%);
  border-radius: 8px;
  height: 4px;
  width: 280px;
  margin: auto;
  outline: none;
  -webkit-appearance: none;
}

.playlist-bottom {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  width: 380px;
}

.marquee {
  width: 100%;
  margin: 0;
  padding:0.5em 0;
  overflow:hidden;
  margin-bottom:10px;
  position:relative;
}

.marquee p:hover {
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  }
  .marquee p:after {
    content:"";
    white-space:nowrap;
    padding-right:50px;
  }
  
  .marquee p {
    margin:0;
    padding-left:100%;
    display:inline-block;
    white-space:nowrap;
      -webkit-animation-name:marquee;
      -webkit-animation-timing-function:linear;
      -webkit-animation-duration:10s;
      -webkit-animation-iteration-count:infinite;
      -moz-animation-name:marquee;
      -moz-animation-timing-function:linear;
      -moz-animation-duration:10s;
      -moz-animation-iteration-count:infinite;
      -ms-animation-name:marquee;
      -ms-animation-timing-function:linear;
      -ms-animation-duration:10s;
      -ms-animation-iteration-count:infinite;
      -o-animation-name:marquee;
      -o-animation-timing-function:linear;
      -o-animation-duration:10s;
      -o-animation-iteration-count:infinite;
      animation-name:marquee;
      animation-timing-function:linear;
      animation-duration:10s;
      animation-iteration-count:infinite;
  }
  @-webkit-keyframes marquee {
    from   { -webkit-transform: translate(0%);}
    99%,to { -webkit-transform: translate(-100%);}
  }
  @-moz-keyframes marquee {
    from   { -moz-transform: translate(0%);}
    99%,to { -moz-transform: translate(-100%);}
  }
  @-ms-keyframes marquee {
    from   { -ms-transform: translate(0%);}
    99%,to { -ms-transform: translate(-100%);}
  }
  @-o-keyframes marquee {
    from   { -o-transform: translate(0%);}
    99%,to { -o-transform: translate(-100%);}
  }
  @keyframes marquee {
    from   { transform: translate(0%);}
    99%,to { transform: translate(-100%);}
  }

  .now-playing-channel {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }