@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'NanumSquareRound', sans-serif;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* 요소의 최소 너비 지정, height 속성 무시
    vh단위는 브라우저 안쪽 높이(window.innerHeight)을 기준으로
    설정된다. 하지만 태블릿이나, 모바일의 경우에는 뷰 포트에 따라
    맞춰짐*/
  min-height: 8vh;
  background-color: #000000;
  font-family: "Poppins", sans-serif;
}
.location {
  display: block;
  font-size: 1rem;
  color: #ffffff;
}
.location>img {
  width: 1rem;
  height: 1rem;
}
.nav__logo>a {
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  /* 각 글자 2px씩 간격을 줌*/
  letter-spacing: 2px;
  font-size: 18px;
  text-decoration: none;
}
.nav__logo>i {
  color : #ea0aee;
}
.nav-links {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0;
  padding: 0;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px;
  transition: all 0.3s ease;
}

/* @media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
} */

@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  .nav__logo {
    display: none;
  }
  .location {
    display: block;
    font-size: 1rem;
    color: #ffffff;
  }
  .location>img {
    width: 1rem;
    height: 1rem;
  }
  .nav-links {
    position: absolute;
    top: 8vh;
    right: 0;
    height: 92vh;
    background-color: #000000;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
  .nav-active {
    transform: translateX(0%);
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(5px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}