{% extends 'main/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock style %}

{% block body %}

<div class="following">
  <a href="{% url 'accounts:detail' user.pk %}"><i class="fa-solid fa-arrow-left"></i></a>
  <div class="following-count">
    {% if not user.followings.all  %}
      팔로잉 0명
    {% else %}  
      팔로잉 {{ user.followings.count }}명
    {% endif %} 
  </div>
</div>

<div class="following_list">
  <ul>
    {% for myfollowing in user.followings.all %}
      {% if myfollowing.user_img %}
        <li class="following_user-info">
          <a href="{% url 'accounts:detail' myfollowing.pk %}">
            <div>
            <img class=" rounded-circle mx-2" src="{% static 'image/profile.jpg' %}" style="width:50px;">{{ myfollowing.username }}
            </div>
          </a>
          {% if request.user != myfollowing %}
              <a href="{% url 'accounts:follow' myfollowing.pk %}">
              {% if request.user in myfollowing.followers.all %}
                <i class="fa-solid fa-check"></i>
              {% else %}
                <i class="fa-solid fa-user-plus"></i>
              {% endif %}
              </a>
          {% else %}
            <div>
              <i class="fa-solid fa-check"></i>
            </div>
          {% endif %}
        </li>
      {% else %}
        <li class="following_user-info">
          <a href="{% url 'accounts:detail' myfollowing.pk %}">
            <div>
            <img class=" rounded-circle mx-2" src="{% static 'image/profile.jpg' %}" style="width:50px;">{{ myfollowing.username }}
            </div>
          </a>
          {% if request.user != myfollowing %}
              <a href="{% url 'accounts:follow' myfollowing.pk %}">
              {% if request.user in myfollowing.followers.all %}
                <i class="fa-solid fa-check"></i>
              {% else %}
                <i class="fa-solid fa-user-plus"></i>
              {% endif %}
              </a>
          {% else %}
            <div>
              <i class="fa-solid fa-check"></i>
            </div>
          {% endif %}
        </li>
      {% endif %}
    </a>
    {% endfor %}
    {% if not user.followings.all %}
      <li class="mt-4 d-flex justify-content-center"> 팔로잉한 사람이 없습니다.</li>
    {% endif %}
  </ul>
</div>

{% endblock %}
