{% extends 'main/base.html' %}
{% load static %}

{% block body %}

  <h1>accounts 인덱스페이지(임시페이지)</h1>
  <hr>
  <div>
    {% if request.user.is_authenticated %}
      <span>안녕하세요, {{ request.user }}님^^</span>
      <a href="{% url 'accounts:mypage' %}">내 정보</a>
      <a href="{% url 'accounts:logout' %}">로그아웃</a>
    {% else%}
      <a href="{% url 'accounts:signup' %}">회원가입</a>
      <a href="{% url 'accounts:login' %}">로그인</a>
    {% endif %}
  </div>
  <hr>
  <a href="{% url 'articles:index' %}">글쓰기</a>
  <a href="{% url 'accounts:popular' %}">인기유저(팔로워순)</a>
  <hr>
  <div>
    <p>
     {% for user in users %}
      {% if user.user_img %}
        <img class="rounded-circle" src="{{ user.user_img.url }}" alt="" style="width:40px;">
      {% else %}
        <img class="rounded-circle" src="{% static 'image/profile.jpg' %}" style="width:40px;">
      {% endif %}
      {{ user.pk }}  |  {{ user.username }}  |  팔로우 : {{ user.followings.count }} |  팔로워 : {{ user.followers.count }}  |
      <a href="{% url 'accounts:detail' user.pk %}">회원보기</a>
    </p>
    {% endfor %}
  </div>

{% endblock %}