{% extends 'main/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock style %}

{% block body %}

<div class="follower">
  <div class="backbtn">
  <a href="{% url 'accounts:mypage' %}"><i class="fa-solid fa-arrow-left"></i></a>
  </div>
  <div class="follower-count">
    {% if user.follower.count >= 1 %}
      팔로워 {{ user.follower.count }}명
    {% else %} 
      팔로워 0명
    {% endif %}
  </div>
</div>

<div class="follower_list">
  <ul>
    {% for myfollower in user.followers.all %}
      {% if myfolloer.user_img %}
        <li class="follower_user-info">
          <a href="{% url 'accounts:detail' myfollower.pk %}">
            <div>
            <img class=" rounded-circle mx-2" src="{% static 'image/profile.jpg' %}" style="width:50px;">{{ myfollower.username }}
            </div>
          </a>
          <div>
            <i class="fa-solid fa-check"></i>
          </div>
        </li>
      {% else %}
        <li class="follower_user-info">
          <a href="{% url 'accounts:detail' myfollower.pk %}">
            <div>
            <img class=" rounded-circle mx-2" src="{% static 'image/profile.jpg' %}" style="width:50px;">{{ myfollower.username }}
            </div>
          </a>
          <div>
            <i class="fa-solid fa-check"></i>
          </div>
        </li>
      {% endif %}
    </a>
    {% endfor %}
    {% if not user.followers.all %}
      <li class="mt-4 d-flex justify-content-center">나를 팔로우 하는 사람이 없습니다.</li>
    {% endif %}
  </ul>
</div>

{% comment %} <hr>
<div>
  <ul>
    <li class='fw-bold'>팔로워 리스트</li>
    {% for myfollower in user.followers.all %}
      {% if myfollower.user_img %}
        <li class="list-group-item"><img class=" rounded-circle mx-2" src="{{ myfollower.user_img.url }}" style="width:50px;">{{ myfollower.username }}</li>
      {% else %}
        <li class="list-group-item"><img class=" rounded-circle mx-2" src="{% static 'image/profile.jpg' %}" style="width:50px;">{{ myfollower.username }}</li>
      {% endif %}
    {% endfor %}
    {% if not user.followers.all %}
      <li class="list-group-item">나를 팔로우 하는 사람이 없습니다.</li>
    {% endif %}
  </ul>
</div>
<hr>
<a href="{% url 'accounts:mypage' %}">뒤로가기</a> {% endcomment %}

{% endblock %}
