{% extends 'main/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock style %}

{% block body %}

<div class="following">
  <a href="{% url 'accounts:mypage' %}"><i class="fa-solid fa-arrow-left"></i></a>
  <div class="following-count">
    {% if user.following.count >= 1 %}
      팔로잉 {{ user.following.count }}명
    {% else %} 
      팔로잉 0명
    {% endif %}
  </div>
</div>

<div class="following_list">
  <ul>
    {% for myfollowing in user.followings.all %}
      {% if myfollowing.user_img %}
        <li class="following_user-info">
          <a href="{% url 'accounts:detail' myfollowing.pk %}">
            <div>
            <img class=" rounded-circle mx-2" src="{% static 'image/profile.jpg' %}" style="width:50px;">{{ myfollowing.username }}
            </div>
          </a>
          <div>
            <i class="fa-solid fa-check"></i>
          </div>
        </li>
      {% else %}
        <li class="following_user-info">
          <a href="{% url 'accounts:detail' myfollowing.pk %}">
            <div>
            <img class=" rounded-circle mx-2" src="{% static 'image/profile.jpg' %}" style="width:50px;">{{ myfollowing.username }}
            </div>
          </a>
          <div>
            <i class="fa-solid fa-check"></i>
          </div>
        </li>
      {% endif %}
    </a>
    {% endfor %}
    {% if not user.followings.all %}
      <li class="mt-4 d-flex justify-content-center">내가 팔로우 하는 사람이 없습니다.</li>
    {% endif %}
  </ul>
</div>

{% endblock %}
