{% extends 'main/base.html' %}
{% load static %}

{% block body %}

<h1>내 정보 페이지</h1>
<hr>
<div class='d-flex'>
  <div>
    {% if user.user_img %}
    <img class="rounded-circle" src="{{ user.user_img.url }}" alt="" style="width:100px;">
    {% else %}
    <img class="rounded-circle" src="{% static 'image/profile.jpg' %}" style="width:100px;">
    {% endif %}
  </div>
  <div>
    <h1 class="fw-bold mt-3">
      {{ user.username }}님의개인정보
      <span class='fs-5'>
        {% if request.user.pk != user.pk%}
          <a href="{% url 'accounts:follow' user.pk %}">
          {% if request.user in user.followers.all %}
            <button class='btn btn-primary'>팔로우 취소</button>
          {% else %}
            <button class='btn btn-outline-primary'>팔로우</button>
          {% endif %}
          </a>
        {% endif %}
      </span>
    </h1>
    <div>
      <p><a href="{% url 'accounts:my_followlist' %}">팔로우</a> : {{ user.followings.count }} | <a href="{% url 'accounts:my_followerlist' %}">팔로워</a> : {{ user.followers.count }}</p>
    </div>
  </div>
</div>
<p>이름 : {{ user.full_name }}</p>
<p>거주지 : {{ user.address }}</p>
<p>이메일 : {{ user.email }}</p>
<a href="{% url 'accounts:update' user.pk %}">정보수정</a>
<hr>
<div class="d-flex justify-content-evenly fs-1">
  <div>
    <a href="{% url 'accounts:my_sharedmusiclist' %}"><i class="bi bi-music-note-beamed"></i></a>
  </div>
  <div>
    <i class="bi bi-chat-right-text-fill"></i>
  </div>
  <div>
    <i class="bi bi-heart-fill"></i>
  </div>
</div>
<hr>
{% for article in user.article_set.all %}
<p>
  {{ forloop.counter }}
  <a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a>
</p>
{% endfor %}

<hr>
<a href="{% url 'accounts:index' %}">뒤로가기</a>

{% endblock %}
