{% extends 'main/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock style %}

{% block body %}
  <!-- userprofile -->
  <div class="userprofile">
    <div class="userprofile-img">
      {% if user.user_img %}
      <img class="rounded-circle" src="{{ user.user_img.url }}" alt="" style="width:100px;">
      {% else %}
      <img class="rounded-circle" src="{% static 'image/profile.jpg' %}" style="width:100px;">
      {% endif %}
      <p><a href="{% url 'accounts:update' user.pk %}">프로필 수정</a></p>
    </div>
    <div class="user-info">
      <p>{{ user.username }}</p>
      <div class="user-info__follow">
        <div><a href="{% url 'accounts:my_followlist' %}">팔로우</a> : {{ user.followings.count }}
        </div> 
        <div><a href="{% url 'accounts:my_followerlist' %}">팔로워</a> : {{ user.followers.count }}
        </div>
      </div>
    </div>
  </div>
  <br>
  <!-- 프로필뮤직 검색창 -->
  <div class="container">
    <form id="search-form" data-user-id={{ user.pk }}>
      {% csrf_token %}
      <div class="d-flex justify-content-center mb-3">
      <input type="search" id="search-input" class="col-10 search__input" onkeydown="if(event.keyCode == 13){getSearchList(this.value);}" placeholder="프로필 뮤직 검색">
      <input id="search-btn" class="search-btn" type="submit">
      </div>
      
    </form>
    <div id="search-list" class="search-off search-list">
    </div>
  </div>
  <br>
  <!-- user's profile_music -->
  <div class="card-big-box">
    <div id="profile_music" class="my-music">
      {% if user.profile_music.vidid %}
      <div id="{{ user.profile_music.vidid }}" class="vid">
        <div class="position-relative">
          <img src="{{ user.profile_music.hqdefault }}" style="width: 100%;" alt="">
          <i class="bi bi-play-circle position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 100px;"></i>
        </div>
        <div class="my-3">
          <div class="my-title">
            {{ user.profile_music.title }}
          </div>
          <span> - </span>
           <div class="my-channel">
            {{ user.profile_music.channel }}
           </div>
        </div>
      </div>
      {% else %}
      <p class="my-3">프로필 뮤직을 설정해주세요</p>
      {% endif %}
    </div>
  </div>

<!-- CDN axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!-- 검색 스크립트 -->
<script>
  const searchForm = document.querySelector("#search-form")
  const search_input = document.querySelector('#search-input');
  const search_list = document.querySelector('#search-list');
  const box_open = false;

  searchForm.addEventListener('submit', function(event) {
    event.preventDefault()
    const kw = searchForm.querySelector("#search-input").value
    getSearchList(kw)

    console.log("검색클릭");
    search_list.classList.remove('search-off');
    search_list.classList.add('search-on');
    const box_open = true;
    console.log("검색 열림");
  })

  document.addEventListener('click', function (e) {
    console.log(e.target)
    console.log(search_list.id)
    if (box_open === true); {
      if (e.target !== search_input) {
        search_list.classList.remove('search-on');
        search_list.classList.add('search-off');
        console.log("검색디브 닫힘")
      }
    }
  });

  function getSearchList(kw) {
    const apiKey = "AIzaSyDglrT26TS8c3g7EhbV-wEZeGZnIiK2ObE"
    axios.get('https://www.googleapis.com/youtube/v3/search', {
      params: {
        key: apiKey,
        part: "snippet",
        order: "viewCount",
        q: kw,
        type: "video",
        videoEmbeddable: "true",
        videoSyndicated: "true",
      }
    })
      .then(function (response) {
        console.log('good', response)
        const searchList = document.querySelector('#search-list')

        searchList.classList.add('search-list')
        searchList.innerHTML = ''
        const searchItems = response.data.items
        const searchItemsList = []
        searchItems.forEach((searchItem) => {
          searchList.innerHTML += `
          <div id="` + searchItem.id.videoId + `" class="search-item">
            <ul class="d-flex justify-content-center align-items-center">
              <li><img src="`+ searchItem.snippet.thumbnails.default.url + `" alt=""></li>
              <ul class="d-flex flex-column">
                <li class="title">`+ searchItem.snippet.title +`</li>
                <li class="channel">`+ searchItem.snippet.channelTitle +`</li>
              </ul>
            </ul>
          </div>
          `
        })
      })
  }
</script>
<script>
  document.addEventListener('click', function(e) {
    <!-- addPlayList -->
    if (e.target.closest("div.search-list")) {
      // 비동기로 프로필 뮤직 바꿔주기
      const searchItem = e.target.closest('div.search-item')
      const profileMusic = document.querySelector("#profile_music")
      profileMusic.innerHTML = ''
      console.log('넘겼어');
      // 폼에 담아서 뷰로 넘겨주기
      const profileMusicId = searchItem.id
      const profileMusicTitle = searchItem.querySelector('li.title').innerText
      const profileMusicChannelTitle = searchItem.querySelector('li.channel').innerText

      const form = new FormData()
      form.append('vidid', profileMusicId)
      form.append('title', profileMusicTitle)
      form.append('channel', profileMusicChannelTitle)
      form.append('hqdefault', `https://i.ytimg.com/vi/${profileMusicId}/hqdefault.jpg`)
      form.append('default', `https://i.ytimg.com/vi/${profileMusicId}/default.jpg`)
      form.append('mqdefault', `https://i.ytimg.com/vi/${profileMusicId}/mqdefault.jpg`)

      form.forEach((data) => {
        console.log(data)
      })

      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
      const userId = document.querySelector("#search-form").dataset.userId
      console.log(userId)
      axios.post(`/accounts/mypage/profile_music/${userId}/`, form, {
        headers: {
          'X-CSRFToken': csrftoken
        }
      })

      // 검색 폼 초기화해주기
      const searchList = document.querySelector('#search-list')
      searchList.innerHTML = ''
      const searchForm = document.querySelector("#search-form")
      searchForm.reset()
      window.location.reload()
    }
  })
</script>
{% endblock %}
