{% extends 'main/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock style %}

{% block body %}
  <!-- userprofile -->
  <div class="userprofile">
    <div class="userprofile-img">
      {% if user.user_img %}
      <img class="rounded-circle" src="{{ user.user_img.url }}" alt="" style="width:100px;">
      {% else %}
      <img class="rounded-circle" src="{% static 'image/profile.jpg' %}" style="width:100px;">
      {% endif %}
      <p><a href="{% url 'accounts:update' user.pk %}">프로필 수정</a></p>
    </div>
    <div class="user-info">
      <p>{{ user.username }}</p>
      <div class="user-info__follow">
        <div><a href="{% url 'accounts:my_followlist' %}">팔로우</a> : {{ user.followings.count }}
        </div> 
        <div><a href="{% url 'accounts:my_followerlist' %}">팔로워</a> : {{ user.followers.count }}
        </div>
      </div>
    </div>
  </div>

  <!-- user's profile_music -->
  <div class="profile-setting-music">
    <p>현재 설정된 프로필 뮤직</p>
      <div id="profile_music" class="profile-music">
        {% if user.profile_music.vidid %}
    <div id="{{ user.profile_music.vidid }}" class="vid">
      <div class="position-relative">
        <img src="{{ user.profile_music.hqdefault }}" style="width: 500px;" alt="">
        <i class="bi bi-play-circle position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 100px;"></i>
      </div>
      <div class="my-3">
        <div class="title">
          {{ user.profile_music.title }}
        </div>
        <span> - </span>
        <div class="channel">
          {{ user.profile_music.channel }}
        </div>
      </div>
    </div>
        {% else %}
        <p>프로필 뮤직이 없습니다...</p>
        {% endif %}
      </div>

      <!-- profile_music search -->
      <div>
        <form id="search-form" data-user-id={{ user.pk }}>
          {% csrf_token %}
          <input type="search" id="search-input" class="search__input" onkeydown="if(event.keyCode == 13){searchForm();}" placeholder="프로필 뮤직 검색">
          <input id="search-btn" class="search-btn" type="submit">
          <label for="search-btn"><i class="fa-solid fa-magnifying-glass"></i></label>
        </form>
        <div id="search-list" class="search-list">
        </div>
      </div>
  </div>

  

  
  <hr>
  <a href="{% url 'accounts:mypage' %}">뒤로가기</a>
  <hr>

<!-- CDN axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!-- 검색 스크립트 -->
<script>
  const searchForm = document.querySelector("#search-form")
  searchForm.addEventListener('submit', function(event) {
    event.preventDefault()
    const kw = searchForm.querySelector("#search-input").value
    getSearchList(kw)
  })

  function getSearchList(kw) {
    const apiKey = "AIzaSyDglrT26TS8c3g7EhbV-wEZeGZnIiK2ObE"
    axios.get('https://www.googleapis.com/youtube/v3/search', {
      params: {
        key: apiKey,
        part: "snippet",
        order: "viewCount",
        q: kw,
        type: "video",
        videoEmbeddable: "true",
        videoSyndicated: "true",
      }
    })
      .then(function (response) {
        console.log('good', response)
        const searchList = document.querySelector('#search-list')
        searchList.innerHTML = ''
        const searchItems = response.data.items
        const searchItemsList = []
        searchItems.forEach((searchItem) => {
          searchList.innerHTML += `
            <div id="` + searchItem.id.videoId + `" class="search-item">
              <div class="music_img">
                <img src="`+ searchItem.snippet.thumbnails.default.url + `" alt="">
              </div>
              <div class="music_info">
                <div class="music_title">
                  `+ searchItem.snippet.title +`
                </div>
                <div class="music_channel">
                  `+ searchItem.snippet.channelTitle +`
                </div>
              </div>
            </div>
          `
        })
      })
  }
</script>
<script>
  document.addEventListener('click', function(e) {
    <!-- addPlayList -->
    if (e.target.closest("div.search-list")) {
      // 비동기로 프로필 뮤직 바꿔주기
      const searchItem = e.target.closest('div.search-item')
      const profileMusic = document.querySelector("#profile_music")
      profileMusic.innerHTML = ''
      profileMusic.append(searchItem)

      // 폼에 담아서 뷰로 넘겨주기
      const profileMusicId = searchItem.id
      const profileMusicTitle = searchItem.querySelector('.music_title').innerText
      const profileMusicChannelTitle = searchItem.querySelector('.music_channel').innerText

      const form = new FormData()
      form.append('vidid', profileMusicId)
      form.append('title', profileMusicTitle)
      form.append('channel', profileMusicChannelTitle)
      form.append('hqdefault', `https://i.ytimg.com/vi/${profileMusicId}/hqdefault.jpg`)
      form.append('default', `https://i.ytimg.com/vi/${profileMusicId}/default.jpg`)
      form.append('mqdefault', `https://i.ytimg.com/vi/${profileMusicId}/mqdefault.jpg`)

      form.forEach((data) => {
        console.log(data)
      })

      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
      const userId = document.querySelector("#search-form").dataset.userId
      console.log(userId)
      axios.post(`/accounts/mypage/profile_music/${userId}/`, form, {
        headers: {
          'X-CSRFToken': csrftoken
        }
      })

      // 검색 폼 초기화해주기
      const searchList = document.querySelector('#search-list')
      searchList.innerHTML = ''
      const searchForm = document.querySelector("#search-form")
      searchForm.reset()
    }
  })
</script>
{% endblock %}
