{% extends 'main/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock style %}
{% block body %}

<div class="update">
  프로필 수정
</div>
<div>
	<form action="" method="POST" class="updateform" enctype="multipart/form-data">
	{% csrf_token %}
		<div class="updateform-info">
				<div class="updateform-userimg">
					<input id='user_img' type="file" name="user_img" onchange="readImage(this);" class="d-none">
					<label for="user_img" id="preview-img" class="user_img-btn">
						{% if user.user_img %}
						<img id="preview-image" src="{{ user.user_img.url }}" alt="">
						{% else %}
						<img id="preview-image" src="{% static 'image/profile.jpg' %}" alt="">
						{% endif %}
					</label>
				<p class="m-1">프로필 사진 변경</p>
				</div>
				이름
				<input type="text" name="first_name" class="updateform__input" value="{{ user.first_name }}">
				성
				<input type="text" name="last_name" class="updateform__input" value="{{ user.last_name }}">
				주소
				<input type="text" name="address" class="updateform__input" value="{{ user.address }}">
				이메일
				<input type="text" name="email" class="updateform__input" value="{{ user.email }}">
      <div>
			<button type="submit" class="updateform__button">수정하기</button>
      </div>
      <div>
				<button type="button" class="updateform__button-password"><a href="{% url 'accounts:password' %}">비밀번호 변경</a></button>
			</div>
      <div>
				<button type="button" class="updateform__button-delete"><a href="{% url 'accounts:delete' %}">회원탈퇴</a></button>
			</div>
		</div>
	</form>
</div>
  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
	function readImage(input) {
		console.log('파일첨부');
    // 인풋 태그에 파일이 있는 경우
    if(input.files) {
        // 이미지 파일인지 검사 (생략)
        // FileReader 인스턴스 생성
        const reader = new FileReader();
				console.log('파일첨부');
        // 이미지가 로드가 된 경우
        reader.onload = e => {
					console.log('온로드');
					const previewImage = document.getElementById("preview-image")
          previewImage.src = e.target.result
					console.log("이미지요소 추가");
        }
        // reader가 이미지 읽도록 하기
        reader.readAsDataURL(input.files[0]);
    }
}
</script>

{% endblock %}