{% extends 'main/base.html' %}
{% load django_bootstrap5 %}

{% block body %}
<div class="container">
  <h1>create</h1>
  <form id="search-form">
    {% csrf_token %}
    <label for="search-input">사연 노래</label>
    <div class="d-flex justify-content-center mb-3">
      <input id="search-input" type="text" class="col-10" placeholder='노래를 검색해주세요.'>
      <button type="submit" class="col-2">search</button>
    </div>
  </form>
  <div id="search-list" class="search-list">
  </div>
  <form id="article-form" method="POST">
    {% csrf_token %}
    <input type="hidden" id="vidid" name="vidid" value="">
    <input type="hidden" id="vidtitle" name="vidtitle" value="">
    <input type="hidden" id="channel" name="channel" value="">
    <input type="hidden" id="hqdefault" name="hqdefault" value="">
    <input type="hidden" id="default" name="default" value="">
    <input type="hidden" id="mqdefault" name="mqdefault" value="">
    <div>
      <label for="place">사연 장소</label>
      <a href="{% url 'articles:locations' %}"><input id="place" name="place" type="text" class="w-100 mb-3" placeholder='사연 장소'></a>
      
    </div>
    <div>
      <label for="content">사연 내용</label>
      <textarea id="content" name="content" cols="30" rows="5" class="w-100 mb-3"></textarea>
    </div>
    <input type="submit" value="OK">
  </form>
</div>
  <!-- 검색 스크립트 -->
  <script>
    // 지도에서 클릭한 위치 가져오기
    const place = document.querySelector("#place")
    const clickedPlace = localStorage.getItem("clickedPlace")
    place.value = clickedPlace

    const searchForm = document.querySelector("#search-form")
    searchForm.addEventListener('submit', function(event) {
      event.preventDefault()
      const kw = searchForm.querySelector("#search-input").value
      getSearchList(kw)
    })
  
    function getSearchList(kw) {
      const apiKey = "AIzaSyC6_bB2PiPp_Vtf8cPdnhoQ-hzL4gNVFIE"
      axios.get('https://www.googleapis.com/youtube/v3/search', {
        params: {
          key: apiKey,
          part: "snippet",
          order: "viewCount",
          q: kw,
          type: "video",
          videoEmbeddable: "true",
          videoSyndicated: "true",
        }
      })
        .then(function (response) {
          console.log('good', response)
          const searchList = document.querySelector('#search-list')
          searchList.innerHTML = ''
          const searchItems = response.data.items
          const searchItemsList = []
          searchItems.forEach((searchItem) => {
            searchList.innerHTML += `
            <div id="` + searchItem.id.videoId + `" class="search-item d-flex gap-3">
              <img src="`+ searchItem.snippet.thumbnails.default.url + `" alt="">
              <div>
                <h5>`+ searchItem.snippet.title +`</h5>
                <div class="d-flex gap-3">
                  <p>`+ searchItem.snippet.channelTitle +`</p>
                </div>
              </div>
            </div>
            `
          })
        })
    }
  </script>
  <!-- 검색폼 스크립트 -->
  <script>
    const articleForm = document.querySelector('#article-form')

    document.addEventListener('click', function(e) {
      if (e.target.closest("div.search-list")) {
        // 폼에 담아서 뷰로 넘겨주기
        const searchItem = e.target.closest('div.search-item')
        const ArticleMusicId = searchItem.id
        const ArticleMusicTitle = searchItem.querySelector('h5').innerText
        const ArticleMusicChannelTitle = searchItem.querySelector('p').innerText
  
        articleForm.querySelector('#vidid').value = ArticleMusicId
        articleForm.querySelector('#vidtitle').value = ArticleMusicTitle
        articleForm.querySelector('#channel').value = ArticleMusicChannelTitle
        articleForm.querySelector('#hqdefault').value = `https://i.ytimg.com/vi/${ArticleMusicId}/hqdefault.jpg`
        articleForm.querySelector('#default').value = `https://i.ytimg.com/vi/${ArticleMusicId}/default.jpg`
        articleForm.querySelector('#mqdefault').value = `https://i.ytimg.com/vi/${ArticleMusicId}/mqdefault.jpg`
        
        // 검색 폼 초기화해주기
        const searchList = document.querySelector('#search-list')
        searchList.innerHTML = ''
        const searchInput = document.querySelector("#search-input")
        searchInput.value = ArticleMusicTitle + ' - ' + ArticleMusicChannelTitle
      }
    })
  </script>

{% endblock body %}