{% extends 'main/base.html' %}
{% load static %}
{% block body %}
<div class="container d-flex flex-column justify-content-center align-items-center">
  <h3 class="my-3">장소로 검색하기</h3>
  <form id="index-search-form">
    {% csrf_token %}
    <input id="input" name="input" type="text">
  </form>
  <div id="article-list">
  </div>
</div>
<script>
  const indexSearchForm = document.querySelector('#index-search-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  indexSearchForm.addEventListener('submit', function(e) {
    e.preventDefault()

    const form = new FormData()
    form.append('kw', this.input.value)

    axios.post('/index/', form, {
      headers: {
        'X-CSRFToken': csrftoken
      }
    })
    .then((response) => {
      const articleList = document.querySelector('#article-list')
      articleList.innerHTML = ''
      const articles = response.data.article_list
      articles.forEach((article) => {
        console.log(article)
        articleList.innerHTML += `
        <a href="/${article.pk}/">
          <div class="d-flex gap-3 my-3">
            <div>
              <img src="${article.user_img}" style="width: 50px; height: 50px; border-radius: 50%;" alt="">
              <p>${article.user}</p>
            </div>
            <div>
              <p class="m-0" style="width:280px; overflow: hidden; white-space:nowrap; text-overflow: ellipsis;">${article.song_title}</p>
              <p class="m-0 opacity-75" style="width:280px; overflow: hidden; white-space:nowrap; text-overflow: ellipsis;">${article.song_channel}</p>
              <p class="m-0" style="width:280px; overflow: hidden; white-space:nowrap; text-overflow: ellipsis;">${article.content}</p>
            </div>
          </div>
             </a>
        `
      })
    })
  })
</script>
{% endblock body %}