{% extends 'main/base.html' %}
{% block body %}
<p id="result"></p>
<p>{{geocoded}} 인근</p>
<P>{{location}}</P>
<script>

var options = {
  enableHighAccuracy: true,
  timeout: 5000,
  maximumAge: 0
};

function success(pos) {
  var crd = pos.coords;
  const result = document.querySelector('#result')
  // result.innerHTML= [crd.latitude,crd.longitude]
  result.innerHTML = ['32.1232','128.2342']
}

function error(err) {
  console.warn(`ERROR(${err.code}): ${err.message}`);
}

navigator.geolocation.getCurrentPosition(success,error)

</script>
{% endblock body %}