{% extends 'main/base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block body %}
  {% comment %} 플레이어 {% endcomment %}
  <div class="player">
    <img src="{% static 'image/album.png' %}">
    <div class="player--write">
      <a href="{% url 'articles:index' %}">
        <h3><i class="bi bi-pencil-square"></i></h3>
      </a>
    </div>
  </div>

  <hr>

  {% comment %} 박스 {% endcomment %}
  <div class="playButton bg-info p-play">
    <div class="text-center">
      <p>재생 버튼</p>
    </div>
  </div>

  <div class="toggleBox">

    <div class="toggleBtn1" data-bs-toggle="collapse" data-bs-target=".collapseExample">
      토글1
    </div>

    <div class="collapse collapseExample" style="z-index: 3;">
      {% for article in articles %}
      <a href="{% url 'articles:detail' article.pk %}">
        <div class="row d-flex">
          <div class="col-1 d-flex flex-column mt-2">
            <img src="{{ user.user_img.url }}" alt="" style="width: 3rem;">
            {{ article.user.username }}
          </div>
          <div class="col-11 text-center">
            {{ article.song }}
            {{ article.content }}
          </div>
        </div>
      </a>
      <hr>
      {% endfor %}  
    </div>
  </div>


  {% comment %} 캐러셀 {% endcomment %}
  <div class="carousel bg-info">
    <div class="mainSlide">
      <div class="box">
        <img src="{% static 'image/redvelvet.jpeg' %}" alt="">
      </div>
      <div class="box">
        <img src="{% static 'image/redvelvet.jpeg' %}" alt="">
      </div>
      <div class="box">
        <img src="{% static 'image/redvelvet.jpeg' %}" alt="">
      </div>
      <div class="box">
        <img src="{% static 'image/redvelvet.jpeg' %}" alt="">
      </div>
      <div class="box">
        <img src="{% static 'image/redvelvet.jpeg' %}" alt="">
      </div>
      <div class="box">
        <img src="{% static 'image/redvelvet.jpeg' %}" alt="">
      </div>
      <div class="box">
        <img src="{% static 'image/redvelvet.jpeg' %}" alt="">
      </div>
    </div>
  </div>

  {% comment %} 댓글 {% endcomment %}
  {% comment %} <div class="private-comment bg-info fixed-bottom">
    <div class="text-center">
      <p>댓글</p>
    </div>
  </div>
   {% endcomment %}

{% endblock body %}

{% block script %}
  <!-- CDN axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    $(function(){
      $('.mainSlide').slick({
        dots: false,
        infinite: false,
        speed: 800,
        slidesToShow: 7,
        slidesToScroll: 7,
        infinite: true,
        prevArrow : "<div class='slick-prev carousel-control-prev' style='position: absolute; left: .2rem; z-index: 2;'><h1><</h1></div>",
        nextArrow : "<div class='slick-next carousel-control-next' style='position: absolute; right: .2rem; z-index: 2;'><h1>></h1></div>",        
        responsive: [
          {
            breakpoint: 1440,
            settings: {
              slidesToShow: 6,
              slidesToScroll: 6,
            }
          },
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 5,
              slidesToScroll: 5,
            }
          },
          {
            breakpoint: 860,
            settings: {
              slidesToShow: 4,
              slidesToScroll: 4
            }
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 3
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2
            }
          }
          // You can unslick at a given breakpoint now by adding:
          // settings: "unslick"
          // instead of a settings object
        ]
      });
    });
  </script>
{% endblock script %}