{% extends 'main/base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block body %}
  {% comment %} 플레이어 {% endcomment %}
  <div class="private-player">
    <img src="{% static 'image/album.png' %}">
  </div>

  {% comment %} 글 작성 버튼 {% endcomment %}
  <div class="private-player--write">
    <a href="{% url 'articles:index' %}">
      <h3><i class="bi bi-pencil-square"></i></h3>
    </a>
  </div>


  {% comment %} 재생 버튼 {% endcomment %}
  <div class="private-playButton">
    <div class="private-playButton__image">
      <img src="{% static 'image/private_next.png' %}" style="-webkit-transform: scaleX(-1); transform: scaleX(-1);">
      <img src="{% static 'image/private_play.png' %}">
      <img src="{% static 'image/private_next.png' %}">
    </div>
  </div>

  {% comment %} 캐러셀1 {% endcomment %}
  <div class="private-carousel bg-info text-center">
    <div class="mainSlide">
      {% for song in song_list %}
      <div class="box">
        <img src="{{ song.hqdefault }}">
      </div>
      {% endfor %}
    </div>
  </div>

  <hr>
  
  {% comment %} 캐러셀2 {% endcomment %}
  <div class="private-carousel bg-info text-center">
      <div class="mainSlide">
        {% for song in song_list %}
          <div class="box">
            <img src="{{ song.hqdefault }}">
          </div>
        {% endfor %}
      </div>
    </div>

  <!-- 댓글창 : 클릭 후 열린 창 -->
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="sidenav__comment">
      <h5>댓글</h5>
    </div>
    <hr>
    {% for article in articles %}
    <a href="{% url 'articles:detail' article.pk %}">
      <div class="row d-flex">
        <div class="col-1 d-flex flex-column mt-2">
          {% if article.user.user_img %}
            <img src="{{ article.user.user_img.url }}" alt="" style="width: 3rem;">
          {% endif %}
          {{ article.user.username }}
        </div>
        <div class="col-11 text-center text-truncate">
          {{ article.song }}
          {{ article.content }}
        </div>
      </div>
    </a>
    <hr>
    {% endfor %}  
  </div>

  <hr>
  
  <!-- 댓글창 : 클릭 전 -->
  <div onclick="openNav()">
    <div class="row d-flex">
      <div class="col-2 d-flex flex-column mt-2">
      {% if top_article %}
        {% if top_article.user.user_img %}
          <img src="{{ top_article.user.user_img.url }}" alt="" style="width: 3rem;">
        {% endif %}
        {{ top_article.user.username }}
      </div>
      <div class="col-10 text-center text-truncate">
        {{ top_article.song }}
        {{ top_article.content }}
        {% else %}
        <p> 댓글을 입력해주세요 </p>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock body %}

{% block script %}
  <!-- CDN axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    $(function(){
      $('.mainSlide').slick({
        dots: false,
        infinite: false,
        speed: 800,
        slidesToShow: 5,
        slidesToScroll: 5,
        infinite: true,
        prevArrow : "<div class='slick-prev carousel-control-prev' style='position: absolute; left: .2rem;'><h1><</h1></div>",
        nextArrow : "<div class='slick-next carousel-control-next' style='position: absolute; right: .2rem;'><h1>></h1></div>",        
        responsive: [
          {
            breakpoint: 1440,
            settings: {
              slidesToShow: 4,
              slidesToScroll: 4,
            }
          },
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 3,
            }
          },
          {
            breakpoint: 860,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 3,
            }
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2,
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2
            }
          }
          // You can unslick at a given breakpoint now by adding:
          // settings: "unslick"
          // instead of a settings object
        ]
      });
    });
  </script>

  <script>
    /* Set the width of the side navigation to 250px */
    function openNav() {
      document.getElementById("mySidenav").style.height = "60vh";
    }

    /* Set the width of the side navigation to 0 */
    function closeNav() {
      document.getElementById("mySidenav").style.height = "0";
    }
  </script>
{% endblock script %}