{% extends 'main/base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block body %}
  {% comment %} 선교님 플레이어 {% endcomment %}
  <div id="song" class="mt-5">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div id="movie-music-btn" class="movie-music-btn" style="width: 380px;">
        <i class="bi bi-youtube"></i><span>/</span><i class="bi bi-music-note-beamed"></i>
      </div>
      <img src="" alt="" style="width: 380px;">
      <div id="player" class="d-none"></div>
      <a id="detail-playing-link" class="detail-playing-link my-3" style="width: 380px;">
        <div id="detail-playing-id" class="detail-playing-id d-none"></div>
        <p id="detail-playing-title" class="m-0">재생 중인 곡이 없습니다</p>
        <p id="detail-playing-channel" class="m-0 opacity-75"></p>
      </a>
      <div class="d-flex gap-3">
        <div id="current-time">0:00</div>
        <input id="progress-bar" type="range" value="0">
        <div id="duration">0:00</div>
      </div>
      <div class="d-flex my-3 gap-5">
        <div class="player-btn">
          <i id="previous" class="bi bi-skip-start-fill"></i>
        </div>
        <div class="video-button">
          <i id="video-button" class="bi bi-play-fill"></i>
        </div>
        <div class="player-btn">
          <i id="next" class="bi bi-skip-end-fill"></i>
        </div>
      </div>
    </div>
  </div>

  <div style="height: 10vh;"></div>

  {% comment %} 캐러셀1 {% endcomment %}
  <h2 class="ms-3 mb-2">추천 곡</h2>
  <div class="private-carousel text-center">
    <div class="mainSlide">
      {% for song in song_list %}
      <a href="{% url 'articles:song_detail' song.vidid %}">
        <div class="box">
          <img src="{{ song.hqdefault }}">
          <input class="title" type="hidden" value="{{ song.title }}">
          <input class="channel" type="hidden" value="{{ song.channel }}">
          <input class="vidid" type="hidden" value="{{ song.vidid }}">
        </div>
      </a>
      {% endfor %}
    </div>
  </div>

  <div style="height: 10vh;"></div>
  
  <!-- 댓글창 : 클릭 후 열린 창 -->
  <div id="mySidenav" class="sidenav border-top">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="sidenav__comment ms-3 mt-4">
      <h5>추천 글</h5>
    </div>

    <hr>

    {% for article in articles %}
    <div class="row d-flex justify-content-between">         
      {% comment %} 유저 정보 {% endcomment %}
      <div class="col-2 ms-4">
        <a href="{% url 'accounts:detail' article.user.pk %}">
          <div class="d-flex flex-column align-items-center mb-0 mt-3 p-0">
            {% if article %}
            {% if article.user.user_img %}
              <img src="{{ article.user.user_img.url }}" alt="" style="width: 3.5rem; border-radius: 50%;">
            {% else %}
              <img src="{% static 'image/profile.jpg'%}" alt="" style="width: 3.5rem; border-radius: 50%;">
            {% endif %}
            <p class="d-inline-block mt-1">{{ article.user.username }}</p>
          </div>
        </a>  
      </div>

      {% comment %} 사연 내용 {% endcomment %}
      <div class="col-8 d-flex align-items-center">
        <div class="private__comment--closed bg-dark p-3 position-relative" style="height: 70%; width: 85%;">
          {% comment %} <img src="https://i.ytimg.com/vi/{{ top_article.song.vidid }}/maxresdefault.jpg" alt="" class="" style="width: 50px;"> {% endcomment %}
          <p class="my-0 text-truncate">{{ article.content }}</p>
          <p class="mt-3 opacity-25 text-truncate">{{ article.song }}</p>
        </div>
      {% else %}
        <p class="my-0 px-5"> 첫 번째 글을 작성해 주세요. </p>
      {% endif %}
      </div>     
    </div>

    <hr>
    {% endfor %}  
  </div>

  <div class="my-5"></div>


  {% comment %} 글 작성 버튼 {% endcomment %}
  <div class="private-player--write d-flex justify-content-end me-2">
    <a href="{% url 'articles:create' %}">
      <lord-icon
          src="https://cdn.lordicon.com/wloilxuq.json"
          trigger="loop-on-hover"
          delay="500"
          colors="primary:#ffffff,secondary:#6c16c7"
          style="width:10vw; height:10vh; transform: rotate(30deg);">
      </lord-icon>
    </a>
  </div>

  <hr>

  <!-- 댓글창 : 클릭 전 -->
  <div onclick="openNav()">

    <div class="row d-flex justify-content-between">    
      
      {% comment %} 유저 정보 {% endcomment %}
      {% if top_article %}
      <div class="col-2 ms-5">
        <a href="{% url 'accounts:detail' top_article.user.pk %}">
          <div class="d-flex flex-column align-items-center mb-0 mt-3 p-0">
          {% if top_article.user.user_img %}
            <img src="{{ top_article.user.user_img.url }}" alt="" style="width: 3.5rem; border-radius: 50%;">
          {% else %}
            <img src="{% static 'image/profile.jpg'%}" alt="" style="width: 3.5rem; border-radius: 50%;">
          {% endif %}
            <p class="d-inline-block mt-1">{{ top_article.user.username }}</p>
          </div>    
        </a>  
      </div>

      {% comment %} 댓글 내용 {% endcomment %}
      <div class="col-8 d-flex align-items-center">
        <div class="private__comment--closed bg-dark p-3 position-relative" style="height: 80%; width: 90%;">
          {% comment %} <img src="https://i.ytimg.com/vi/{{ top_article.song.vidid }}/maxresdefault.jpg" alt="" class="" style="width: 50px;"> {% endcomment %}
          <p class="my-0 text-truncate">{{ top_article.content }}</p>
          <p class="mt-3 opacity-25 text-truncate">{{ top_article.song }}</p>
        </div>
      </div>
      {% else %}
      <p class="my-0 px-5"> 첫 번째 글을 작성해 주세요. </p>
      {% endif %}

    </div>
    <hr>
  </div>

  {% comment %} ################## {% endcomment %}
  {% comment %} ################## {% endcomment %}
  {% comment %} ################## {% endcomment %}

{% endblock body %}

{% block script %}
  <!-- CDN axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    $(function(){
      $('.mainSlide').slick({
        dots: false,
        infinite: false,
        speed: 800,
        slidesToShow: 5,
        slidesToScroll: 5,
        infinite: true,
        prevArrow : "<div class='slick-prev carousel-control-prev' style='position: absolute; left: .2rem;'><h1><</h1></div>",
        nextArrow : "<div class='slick-next carousel-control-next' style='position: absolute; right: .2rem;'><h1>></h1></div>",        
        responsive: [
          {
            breakpoint: 1440,
            settings: {
              slidesToShow: 4,
              slidesToScroll: 4,
            }
          },
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 3,
            }
          },
          {
            breakpoint: 860,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 3,
            }
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2,
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2
            }
          }
          // You can unslick at a given breakpoint now by adding:
          // settings: "unslick"
          // instead of a settings object
        ]
      });
    });
  </script>

  <script>
    /* Set the width of the side navigation to 250px */
    function openNav() {
      document.getElementById("mySidenav").style.height = "60vh";
    }

    /* Set the width of the side navigation to 0 */
    function closeNav() {
      document.getElementById("mySidenav").style.height = "0";
    }
  </script>

  {% comment %} 선교님 플레이어 {% endcomment %}
  <script>
    document.querySelector('#progress-bar').oninput = function() {
      this.style.background = 'linear-gradient(to right, #fff 0%, #fff '+this.value +'%, #6c757d ' + this.value + '%, #6c757d 100%)'
    }
    const playlist = document.querySelector('#playlist')
    var videoIDs = JSON.parse(window.sessionStorage.getItem('videoIDs'))
    var videoTitles = JSON.parse(window.sessionStorage.getItem('videoTitles'))
    var videoChannels = JSON.parse(window.sessionStorage.getItem('videoChannels'))
  
    const index = window.sessionStorage.index
    const playlistBtn = document.querySelector('#playlist-btn')
    var playlistFull = false
  
    document.addEventListener('click', function(e) {
      if (e.target.closest("div.playlist-btn")) {
        if (playlistFull == false) {
          playlist.style.height = '500px'
          for (idx in videoIDs){
            playlist.innerHTML += `
            <div id="playlist-item" class="playlist-item">
              <div id="${videoIDs[idx]}" class="playlist-vidid"></div>
              <hr class="my-0">
              <div class="d-flex justify-content-center align-items-center">
                <img id="playlist-sm" class="col-2" src="https://i.ytimg.com/vi/${videoIDs[idx]}/default.jpg" alt="">
                <div class="col-9 ms-3">
                  <p id="playlist-title" class="playlist-title m-0">${videoTitles[idx]}</p>
                  <p id="playlist-channel" class="playlist-channel m-0 opacity-75">${videoChannels[idx]}</p>
                </div>
              </div>
            </div>
            `
          } 
          playlistFull = true
        } else {
          playlist.innerHTML = ''
          playlist.style.height = '30px'
          playlistFull = false
        }
      }
    })
  
    const movieMusicBtn = document.querySelector('#movie-music-btn')
    movieMusicBtn.addEventListener('click', function(e) {
      const player = document.querySelector('#player')
      player.classList.toggle('d-none')
      const img = document.querySelector('#song').querySelector('img')
      img.classList.toggle('d-none')
    })
  
    
  </script>
  <!-- 댓글 창 좋아요 비동기 -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const forms = document.querySelectorAll('.like-forms')
    const likecsrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

    forms.forEach((form) => {
      form.addEventListener('submit', function (event) {
        event.preventDefault()
        const articleId = event.target.dataset.articleId

        axios({
          method: 'post',
          url: `/${event.target.dataset.articleId}/like/`,
          headers: { 'X-CSRFToken': likecsrftoken },
        })
          .then((response) => {
            const likeBtn = document.querySelector(`#like-btn-${articleId}`)
            const likeCount = document.querySelector(`#like-count-${articleId}`)
            const isLiked = response.data.is_liked
            const heart = document.querySelector(`#heart-${articleId}`)

            if (isLiked === true) {
              heart.classList.add('bi-heart-fill')
              heart.classList.remove('bi-heart')
              likeCount.innerText = response.data.likeCount
            } else {
              heart.classList.remove('bi-heart-fill')
              heart.classList.add('bi-heart')
              likeCount.innerText = response.data.likeCount
            }

          })
          .catch((error) => {
            console.log(error.response)
          })
      })
    })
  </script>

  <script>


    {% comment %} 
    let cardImageUrl = document.querySelector('.card--image--url');
    let newImgAddress = "https://i.ytimg.com/vi/" + cardImageUrl.innerText + "/maxresdefault.jpg";
    let newImg = new Image();
    
    newImg.crossorigin = "anonymous";
    newImg.src = newImgAddress;
    newImg.id = "getColor"; 
    
    cardImageUrl.after(newImg); 
    {% endcomment %}

    {% comment %} let newImgAddress = "https://i.ytimg.com/vi/" + top_article.innerText + "/maxresdefault.jpg";

    propertyImg.src =  {% endcomment %}

  </script>
{% endblock script %}