{% extends 'main/base.html' %}
{% block body %}
<style>
  .movie-music-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 32px;
    gap: 7rem;
    background: #000;
    border: 1px solid white;
  }

  .video-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 100%;
    background-color: rgba( 255, 255, 255, 0.1 );
  }
  .video-button i {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 80px;
  }

  .player-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .player-btn i {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 50px;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
  }

   #progress-bar {
    background: linear-gradient(to right, #fff 0%, #fff 50%, #6c757d 50%, #6c757d 100%);
    border-radius: 8px;
    height: 4px;
    width: 280px;
    margin: auto;
    outline: none;
    -webkit-appearance: none;
  }

  .playlist-bottom {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    width: 380px;
  }
</style>
<div id="song">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div id="movie-music-btn" class="movie-music-btn" style="width: 380px;">
      <i class="bi bi-youtube"></i><span>/</span><i class="bi bi-music-note-beamed"></i>
    </div>
    <img src="" alt="" style="width: 380px;">
    <div id="player" class="d-none"></div>
    <div class="my-3" style="width: 380px;">
      <p id="now-playing-title" class="m-0">재생 중인 곡이 없습니다</p>
      <p id="now-playing-channel" class="m-0 opacity-75"></p>
    </div>
    <div class="d-flex gap-3">
      <div id="current-time">0:00</div>
      <input id="progress-bar" type="range" value="0">
      <div id="duration">0:00</div>
    </div>
    <div class="d-flex my-3 gap-5">
      <div class="player-btn">
        <i id="previous" class="bi bi-skip-start-fill"></i>
      </div>
      <div class="video-button">
        <i id="video-button" class="bi bi-play-fill"></i>
      </div>
      <div class="player-btn">
        <i id="next" class="bi bi-skip-end-fill"></i>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="playlist-bottom">
    <div class="w-100 bg-black">
      <div id="playlist-btn" class="playlist-btn p-3">
        <h1>플레이리스트</h1>  
      </div>
      <div id="playlist" style="overflow: auto;">
      </div>
    </div>
  </div>
</div>
<script>
  document.querySelector('#progress-bar').oninput = function() {
    this.style.background = 'linear-gradient(to right, #fff 0%, #fff '+this.value +'%, #6c757d ' + this.value + '%, #6c757d 100%)'
  }
  const playlist = document.querySelector('#playlist')
  var videoIDs = JSON.parse(window.sessionStorage.getItem('videoIDs'))
  var videoTitles = JSON.parse(window.sessionStorage.getItem('videoTitles'))
  var videoChannels = JSON.parse(window.sessionStorage.getItem('videoChannels'))

  const index = window.sessionStorage.index
  const playlistBtn = document.querySelector('#playlist-btn')
  var playlistFull = false

  document.addEventListener('click', function(e) {
    if (e.target.closest("div.playlist-btn")) {
      if (playlistFull == false) {
        playlist.style.height = '500px'
        for (idx in videoIDs){
          playlist.innerHTML += `
          <div id="playlist-item" class="playlist-item">
            <div id="${videoIDs[idx]}" class="playlist-vidid"></div>
            <hr class="my-0">
            <div class="d-flex justify-content-center align-items-center">
              <img id="playlist-sm" class="col-2" src="https://i.ytimg.com/vi/${videoIDs[idx]}/default.jpg" alt="">
              <div class="col-9 ms-3">
                <p id="playlist-title" class="playlist-title m-0">${videoTitles[idx]}</p>
                <p id="playlist-channel" class="playlist-channel m-0 opacity-75">${videoChannels[idx]}</p>
              </div>
            </div>
          </div>
          `
        } 
        playlistFull = true
      } else {
        playlist.innerHTML = ''
        playlist.style.height = '30px'
        playlistFull = false
      }
    }
  })

  const movieMusicBtn = document.querySelector('#movie-music-btn')
  movieMusicBtn.addEventListener('click', function(e) {
    const player = document.querySelector('#player')
    player.classList.toggle('d-none')
    const img = document.querySelector('#song').querySelector('img')
    img.classList.toggle('d-none')
  })

  
</script>
{% endblock body %}