{% extends 'main/base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/articles.css' %}">
{% endblock %}
{% block body %}
<div id="song">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div id="movie-music-btn" class="movie-music-btn" style="width: 380px;">
      <i class="bi bi-youtube"></i><span>/</span><i class="bi bi-music-note-beamed"></i>
    </div>
    <div id="img-btn" class="img-btn">
      <img class="w-100" src="" alt="">
      <i class="img-icon fa-solid fa-pen"></i>
    </div>
    <div id="player" class="d-none"></div>
    <a id="detail-playing-link" class="detail-playing-link my-3" style="width: 380px;">
      <div id="detail-playing-id" class="detail-playing-id d-none"></div>
      <p id="detail-playing-title" class="m-0">재생 중인 곡이 없습니다</p>
      <p id="detail-playing-channel" class="m-0 opacity-75"></p>
    </a>
    <div class="d-flex gap-3">
      <div id="current-time">0:00</div>
      <input id="progress-bar" type="range" value="0">
      <div id="duration">0:00</div>
    </div>
  <div class="d-flex my-3 gap-5">
      <div class="player-btn">
        <i id="previous" class="bi bi-skip-start-fill"></i>
      </div>
      <div class="video-button">
        <i id="video-button" class="bi bi-play-fill"></i>
      </div>
      <div class="player-btn">
        <i id="next" class="bi bi-skip-end-fill"></i>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div id="playlist-bottom" class="playlist-bottom">
    <div class="w-100 bg-black">
      <div id="playlist-btn" class="playlist-btn">
        <i class="bi bi-music-note-list"></i><span>playlist</span>
      </div>
      <div id="playlist" style="overflow: auto;">
      </div>
    </div>
  </div>
</div>
<!-- 클릭하면 바로 공유되는 폼 -->
<form id="article-create-form" action="/create/" method="POST">
  {% csrf_token %}
  <input type="hidden" id="vidid" name="vidid" value="">
  <input type="hidden" id="place" name="place" value="">
  <input type="hidden" id="content" name="content" value="이 곡을 추천합니다!">
  <button type="submit" class="btn btn-primary d-none">Submit</button>
</form>
<script>
  document.querySelector('#progress-bar').oninput = function() {
    this.style.background = 'linear-gradient(to right, #fff 0%, #fff '+this.value +'%, #6c757d ' + this.value + '%, #6c757d 100%)'
  }
  const playlist = document.querySelector('#playlist')
  var videoIDs = JSON.parse(window.sessionStorage.getItem('videoIDs'))
  var videoTitles = JSON.parse(window.sessionStorage.getItem('videoTitles'))
  var videoChannels = JSON.parse(window.sessionStorage.getItem('videoChannels'))

  const index = window.sessionStorage.index
  const playlistBtn = document.querySelector('#playlist-btn')
  var playlistFull = false

  document.addEventListener('click', function(e) {
    if (e.target.closest("div.playlist-btn")) {
      if (playlistFull == false) {
        playlist.style.height = '500px'
        for (idx in videoIDs){
          playlist.innerHTML += `
          <div id="playlist-item" class="playlist-item">
            <div id="${videoIDs[idx]}" class="playlist-vidid"></div>
            <hr class="my-0">
            <div class="d-flex justify-content-center align-items-center">
              <img id="playlist-sm" class="col-2" src="https://i.ytimg.com/vi/${videoIDs[idx]}/default.jpg" alt="">
              <div class="col-9 ms-3">
                <p id="playlist-title" class="playlist-title m-0">${videoTitles[idx]}</p>
                <p id="playlist-channel" class="playlist-channel m-0 opacity-75">${videoChannels[idx]}</p>
              </div>
            </div>
          </div>
          `
        } 
        playlistFull = true
      } else {
        playlist.innerHTML = ''
        playlist.style.height = '0px'
        playlistFull = false
      }
    }
  })

  const movieMusicBtn = document.querySelector('#movie-music-btn')
  movieMusicBtn.addEventListener('click', function(e) {
    const player = document.querySelector('#player')
    player.classList.toggle('d-none')
    const img = document.querySelector('#song').querySelector('img')
    img.classList.toggle('d-none')
  })

  const imgBtn = document.querySelector('#img-btn')
  imgBtn.addEventListener('click', function(e) {
    const articleCreateForm = document.querySelector('#article-create-form')
    articleCreateForm.vidid.value = videoIDs[index]
    const place = document.querySelector('#base-place-1').innerText
    articleCreateForm.place.value = place
    articleCreateForm.submit()
  })

  imgBtn.addEventListener('touch', function(e) {
    const articleCreateForm = document.querySelector('#article-create-form')
    articleCreateForm.vidid.value = videoIDs[index]
    const place = document.querySelector('#base-place-1').innerText
    articleCreateForm.place.value = place
    articleCreateForm.submit()
  })

  
</script>
{% endblock body %}