{% extends 'main/base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}
{% block body %}

<div class="container"> 

  <div class="row align-items-center mt-5">
    <div class="col-7" id="{{ song.vidid }}">
      <img src="https://i.ytimg.com/vi/{{ song.vidid }}/hqdefault.jpg" alt="" style="width: 200px;" >
    </div>

    <div class="col-5">
      <p>{{ song.title }}</p>
      <p>{{ song.channel }}</p>
    </div>
  </div>

  <div class="">
    {% if articles %}
    {% for article in articles %}

    <a href="{% url 'articles:detail' article.pk %}" class="d-flex gap-3 border-top">
      <div class="d-flex flex-column justify-content-center align-items-center mt-3">
        {% if article.user.user_img %}
        <img class="rounded-circle" src="{{ article.user.user_img.url }}" alt="" style="width:30px;">
        {% else %}
        <img class="rounded-circle" src="{% static 'image/profile.jpg' %}" style="width:30px;">
        {% endif %}
        <p>{{ article.user }}</p>
      </div>

      <div class="mt-3">
        <p class="mb-1 opacity-75">{{ article.place }}</p>
        <p>{{ article.content }}</p>
      </div>
    </a>

    {% endfor %}

    {% else %}
    <div class="d-flex justify-content-center">
      <p class="my-3">작성된 글이 없습니다</p>
    </div>

    {% endif %}
  </div>

</div>
{% endblock body %}