{% extends 'main/base.html' %}
{% load static %}

{% block body %}
  <div class="mainSlide" data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>
    <div class="align-middle">
      <img src="{% static 'image/redvelvet.jpeg' %}" class="private-slide">
    </div>
    <div class="align-middle">
      <img src="{% static 'image/redvelvet.jpeg' %}" class="private-slide"/>
    </div>
    <div class="align-middle">
      <img src="{% static 'image/redvelvet.jpeg' %}" class="private-slide"/>
    </div>
    <div class="align-middle">
      <img src="{% static 'image/redvelvet.jpeg' %}" class="private-slide"/>
    </div>
    <div class="align-middle">
      <img src="{% static 'image/redvelvet.jpeg' %}" class="private-slide"/>
    </div>
    <div class="align-middle">
      <img src="{% static 'image/redvelvet.jpeg' %}" class="private-slide"/>
    </div>

  </div>
{% endblock body %}

{% block script %}
  <script>
    $(function(){
      $('.mainSlide').slick({
        infinite: true,
        centerMode: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        speed : 500,
        arrows : true,
        autoplay : true,
        autoplaySpeed : 2000,
        pauseOnHover : true,
        vertical : false,
        prevArrow : "<button class='slick-prev carousel-control-prev' style='position: absolute; left: .2rem; z-index: 1;'>Prev</button>",
        nextArrow : "<button class='slick-next carousel-control-next' style='position: absolute; right: .2rem; z-index: 2;'>Next</button>",
        responsive: [
        {
          breakpoint: 2800,
          settings: {
            arrows: true,
            centerPadding: '100px',
            slidesToShow: 4,
          }
        },
        {
          breakpoint: 2400,
          settings: {
            arrows: true,
            centerPadding: '20px',
            slidesToShow: 4,
          }
        },
        {
          breakpoint: 2000,
          settings: {
            arrows: true,
            centerPadding: '20px',
            slidesToShow: 4,
          }
        }, 
        {
          breakpoint: 1300,
          settings: {
            arrows: true,
            centerPadding: '20px',
            slidesToShow: 4,
          }
        },
        {
          breakpoint: 1000,
          settings: {
            arrows: true,
            centerPadding: '30px',
            slidesToShow: 3,
          }
        },

        {
          breakpoint: 850,
          settings: {
            arrows: true,
            centerPadding: '60px',
            slidesToShow: 2,
          }
        },

        {
          breakpoint: 630,
          settings: {
            arrows: true,
            centerPadding: '5px',
            slidesToShow: 2,
          }
        },
        {
          breakpoint: 550,
          settings: {
            arrows: true,
            centerPadding: '5px',
            slidesToShow: 1,
          }
        },
      ]});
    });
  </script>
{% endblock script %}