{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Mood</title>
    {% bootstrap_css %}
    <!-- 부트스트랩 아이콘 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/articles.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    {% block style %}{% endblock %} 
    <!--fontawesome icon-->
    <script src="https://kit.fontawesome.com/50ae24f515.js" crossorigin="anonymous"></script> 
    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script defer="defer" src="{% static 'js/script.js' %}"></script>
  </head>
  
  <body>
    <!-- nav -->
    <header>
      <nav class="navbar">
          <div class="navbar__logo">
            <i class="bi bi-music-note-beamed"></i>
            <a href="{% url 'articles:private' %}">
              Current Mood
            </a>
          </div>

        <div class="navbar__top">
          <div class="location">
            <i class="bi bi-geo-alt"></i>
            블루보틀 역삼 카페
          </div>
          <div class="navbar__togleBtn">
            <a href="#" class="navbar__togleBtn--open">
              <i class="fa-sharp fa-solid fa-bars"></i>
            </a>
            <a href="#" class="navbar__togleBtn--close">
              <i class="fa-sharp fa-solid fa-xmark"></i>
            </a>
          </div>
        </div>    

        <ul class="navbar__links">
          <li><a href="{% url 'articles:private' %}"><i class="fa-sharp fa-solid fa-house"></i> 홈</a></li>
          {% if request.user.is_authenticated %}
          <li><a href="#"><i class="bi bi-music-note-list"></i> 보관함</a></li>
          <li><a href="{% url 'accounts:mypage' %}"><i class="fa-solid fa-user"></i> 내 정보</a></li>
          <li class="navbar-logout"><a href="{% url 'accounts:logout' %}">로그아웃</a></li>
          {% else %}
          <li><a href="{% url 'accounts:login' %}">로그인</a></li>
          <li><a href="{% url 'accounts:signup' %}">회원가입</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <div>
      {% block body %}{% endblock body %}
    </div>

    <footer>
      <div id="player" class="d-none"></div>
      <div class="d-flex flex-column justify-content-center align-items-center my-3">
        <!-- 플레이 시간 숨기기 -->
        <div class="d-none gap-3">
          <div id="current-time">0:00</div>
          <input id="progress-bar" type="range" value="0">
          <div id="duration">0:00</div>
        </div>
        <div>
          <button class="button" id="previous"><i class="bi bi-arrow-left"></i></button>
          <button class="button" id="video-button"><i class="bi bi-play-fill"></i></button>
          <button class="button" id="next"><i class="bi bi-arrow-right"></i></button>
        </div>
      </div>
      <script>
        // 2. iframe api 불러오기
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // 3. 비디오 플레이어 만들기

        // 재생목록 생성
        var videoIDs = [
          'TgOu00Mf3kI',
          'D1PvIWdJ8xo',
          'd9IxdwEFk1c',
          '6GC8JF2FOgA'
        ];
        var videoTitles = [
          "에잇",
          "블루밍",
          "팔레트",
          "달의 연인 - 보보경심 려 OST",
        ]

        // 플레이어 생성
        var player, currentVideoId = 0;
        function onYouTubeIframeAPIReady() {
          player = new YT.Player('player', {
            height: '360',
            width: '640',
            playerVars: {
              controls: 0,
            },
            events: {
              'onReady': onPlayerReady,
              'onStateChange': onPlayerStateChange
            }
          });
        }

        // 4. 비디오 플레이어가 준비되었을 때 실행할 함수
        function onPlayerReady(event) {
          const index = window.sessionStorage.index
          const time = window.sessionStorage.time
          
          console.log(index)
          console.log(time)
          if (index && time) {
            player.loadPlaylist({list:videoIDs,
              index:index,
              startSeconds:time,})
            console.log('eeeee')
          } else {
            player.playVideoAt(0)
          }
          videoButton.addEventListener('click', function(event) {
            if (videoButton.querySelector('.bi').classList.contains("bi-play-fill")) {
              playVideo()
            }
            else {
              pauseVideo()
            }
          })

          player.loadPlaylist( {
            playlist:videoIDs
          } );

          var next = document.getElementById("next");
          next.addEventListener("click", function() {
            if (currentVideoId < videoIDs.length - 1) {
              currentVideoId++;
              player.nextVideo();
              nowPlaying.innerText = videoTitles[currentVideoId]
            }
            else {
              player.playVideoAt(currentVideoId)
            }
          });
          
          var pre = document.getElementById("previous");
          pre.addEventListener("click", function() {
            if (currentVideoId > 0) {
              currentVideoId--;
              player.previousVideo();
              nowPlaying.innerText = videoTitles[currentVideoId]
            }
            else {
              player.playVideoAt(currentVideoId)
            }
          });

          function formatTime(time) {
            time = Math.round(time)
        
            var minutes = Math.floor(time / 60),
            seconds = time - minutes * 60
        
            // seconds에 값을 대입하는데, seconds가 10보다 작으면 0+seconds, 아니면 seconds를 대입함.
            seconds = seconds < 10 ? '0' + seconds : seconds
        
            return minutes + ":" + seconds
          }
      
          function updateTimerDisplay() {
            const currentTime = document.querySelector("#current-time")
            currentTime.innerText = formatTime(player.getCurrentTime())
            const duration = document.querySelector("#duration")
            duration.innerText = formatTime(player.getDuration())
          }

          updateTimerDisplay()
          
          time_update_interval = setInterval(function () {
            updateTimerDisplay();
            const session = window.sessionStorage
            session.setItem('index', player.getPlaylistIndex())
            session.setItem('time', player.getCurrentTime())
            console.log(session.index, 'session')
            console.log(session.time, 'session')
          }, 1000)
        }
  
        // 5. 플레이어 상태가 바뀌었을 때 실행될 함수
        var done = false;
        const videoButton = document.querySelector("#video-button")
        function onPlayerStateChange(event) {
          // 버퍼링 중일 때
          if (event.data==-1) {
            // 플레이리스트 인덱스를 받아와서 현재 재생 중인 비디오 아이디에 넣는다.
            currentVideoId = player.getPlaylistIndex()
          }
          // 재생 중일 때
          else if (event.data == YT.PlayerState.PLAYING && !done) {
            videoButton.innerHTML = '<i class="bi bi-pause-fill"></i>'
          }
          // 일시정지 중일 때
          else if (event.data == YT.PlayerState.PAUSED && !done) {
            videoButton.innerHTML = '<i class="bi bi-play-fill"></i>'
          }
          // 끝났을 때
          else if (event.data == YT.PlayerState.ENDED) {
            videoButton.innerHTML = '<i class="bi bi-play-fill"></i>'
            done = true
          }
        }
        function playVideo() {
          player.playVideo();
        }
        function pauseVideo() {
          player.pauseVideo();
        }
        function stopVideo() {
          player.stopVideo();
        }
      </script>
    </footer>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script defer="defer" src="{% static 'js/script.js' %}"></script>
    {% block script %}{% endblock %}
  </body>

</html>