{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Mood</title>
    {% bootstrap_css %}
    <!-- 부트스트랩 아이콘 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/location.css'%}">
    <link rel="stylesheet" href="{% static 'css/articles.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    {% block style %}{% endblock %} 
    <!--fontawesome icon-->
    <script src="https://kit.fontawesome.com/50ae24f515.js" crossorigin="anonymous"></script> 
    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script defer="defer" src="{% static 'js/script.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="module" src="{% static 'js/location.js' %}?128"></script>
    {% comment %} <script type="module" src="{% static 'js/gps.js' %}?10"></script> {% endcomment %}
    <script type="text/javascript"></script>
    <!-- <script type="module" src='/static/js/location.js'></script> -->
    <!-- favicon 임시 -->
    <link rel="shortcut icon" href="#">
    <!-- 아이콘 -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- icon animation -->
    <script src="https://cdn.lordicon.com/fudrjiwc.js"></script>
  </head>
  
  <body>
    <!-- nav -->
    <header>
      <nav class="navbar bg-dark">
          <div class="navbar__logo">
            <i class="bi bi-music-note-beamed"></i>
            <a href="{% url 'articles:private' %}">
              Current Mood 
            </a>
          </div>

        <div class="navbar__top">
          <div class="location">
            <div class="d-flex gap-1">
              <img src="{% static 'image/location.png' %}" alt="" style="width: 20px; height: 20px; filter: invert(1);">
              <div style="width: 300px;">
                <a id="base-place-1" style="cursor: pointer;" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                  현재 위치 탐색 중
                </a>
                <div class="collapse" id="collapseExample">
                  <div id="base-place-2" class="my-1" style="cursor: pointer;" onclick="placeToView(this.innerText)">현재 위치 탐색 중</div>
                  <div id="base-place-3" style="cursor: pointer;" onclick="placeToView(this.innerText)">현재 위치 탐색 중</div>
                </div>
              </div>
            </div>
          </div>
          <div class="navbar__togleBtn">
            <a href="#" class="navbar__togleBtn--open">
              <i class="fa-sharp fa-solid fa-bars"></i>
            </a>
            <a href="#" class="navbar__togleBtn--close">
              <i class="fa-sharp fa-solid fa-xmark"></i>
            </a>
          </div>
        </div>    

        <ul class="navbar__links">
          <li><a href="{% url 'articles:private' %}"><i class="fa-sharp fa-solid fa-house"></i> 홈</a></li>
          {% if request.user.is_authenticated %}
          <li><a href="{% url 'accounts:mypage' %}"><i class="fa-solid fa-user"></i> 내 정보</a></li>
          <li><a href="{% url 'accounts:playlist' %}"><i class="bi bi-music-note-list"></i> 플레이리스트</a></li>
          <li class="navbar-logout"><a href="{% url 'accounts:logout' %}">로그아웃</a></li>
          {% else %}
          <li><a href="{% url 'accounts:login' %}">로그인</a></li>
          <li><a href="{% url 'accounts:signup' %}">회원가입</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <div id="wrap">
      <section>
        {% block body %}{% endblock body %}
      </section>
    </div>
    <hr>

    <footer>
      <div id="base-map-parent">
      </div>
      <form id="place-to-view-form" action="/" method="POST">
        {% csrf_token %}
        <input id="place-to-view-input" name="place-to-view-input" type="hidden" value="">
      </form>
      </form>
      <div id="player" class="d-none"></div>
      <!-- 플레이 시간 숨기기 -->
      <div id="bottom-time" class="d-none gap-3">
        <div id="current-time">0:00</div>
        <input id="progress-bar" type="range" value="0">
        <div id="duration">0:00</div>
      </div>
      {% block player %}
      <!-- 하단 플레이어 -->
      <div class="bottom_player fixed-bottom">
        <hr class="my-0">
        <div class="d-flex justify-content-center align-items-center bg-black">
          <a href="{% url 'articles:song' %}" class="col-9 d-flex justify-content-center align-items-center">
            <img id="now-playing-sm" class="col-3 mx-3" src="" alt="">
            <div class="col-8">
              <div class="marquee" style="margin: 0;">
                <p id="now-playing-title" class="now-playing-title">재생 중인 곡이 없습니다</p>
              </div>
              <div>
                <p id="now-playing-channel" class="now-playing-channel"></p>
              </div>
            </div>
          </a>
          <div class="col-3 d-flex justify-content-center align-items-center">
            <i id="previous" class="bi bi-skip-start-fill fs-2" style="cursor: pointer;"></i>
            <i id="video-button" class="bi bi-play-fill fs-2" style="cursor: pointer;"></i>
            <i id="next" class="bi bi-skip-end-fill fs-2" style="cursor: pointer;"></i>
          </div>
        </div>
        <hr class="my-0">
      </div>
      {% endblock player %}
      
      <script>
        // navbar에 현재위치 가져오기
        // 2. iframe api 불러오기
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // 3. 비디오 플레이어 만들기

        // 재생목록 생성
        var videoIDs = JSON.parse(window.sessionStorage.getItem('videoIDs'))
        var videoTitles = JSON.parse(window.sessionStorage.getItem('videoTitles'))
        var videoChannels = JSON.parse(window.sessionStorage.getItem('videoChannels'))
        if (videoIDs) {
          console.log(videoIDs)
        } else {
          window.sessionStorage.setItem('videoIDs', JSON.stringify(['is-rjsfoYtY']))
          window.sessionStorage.setItem('videoTitles', JSON.stringify(["KARA (카라) 'WHEN I MOVE' Official MV"]))
          window.sessionStorage.setItem('videoChannels', JSON.stringify(["KARA Official"]))
        }

        // 플레이어 생성
        var player, currentVideoId = 0;
        const time = window.sessionStorage.time
        function onYouTubeIframeAPIReady() {
          player = new YT.Player('player', {
            height: '285',
            width: '380',
            playerVars: {
              controls: 0,
            },
            events: {
              'onReady': onPlayerReady,
              'onStateChange': onPlayerStateChange
            }
          });
        }

        // 4. 비디오 플레이어가 준비되었을 때 실행할 함수
        function onPlayerReady(event) {
          const index = window.sessionStorage.index
          const time = window.sessionStorage.time
          if (index > videoIDs.length-1) {
            player.loadPlaylist({playlist:videoIDs,
              index:0,
              startSeconds:0,
            })
          } else {
            player.loadPlaylist({playlist:videoIDs,
                      index:index,
                      startSeconds:time,
            })
          }
          videoButton.addEventListener('click', function(event) {
            if (videoButton.classList.contains("bi-play-fill")) {
              playVideo()
            }
            else {
              pauseVideo()
            }
          })

          var next = document.getElementById("next");
          next.addEventListener("click", function() {
            if (currentVideoId < videoIDs.length - 1) {
              currentVideoId++;
              player.nextVideo();
            }
            else {
              player.playVideoAt(currentVideoId)
            }
          });
          
          var pre = document.getElementById("previous");
          pre.addEventListener("click", function() {
            if (currentVideoId > 0) {
              currentVideoId--;
              player.previousVideo();
            }
            else {
              player.playVideoAt(currentVideoId)
            }
          });

          function formatTime(time) {
            time = Math.round(time)
        
            var minutes = Math.floor(time / 60),
            seconds = time - minutes * 60
        
            // seconds에 값을 대입하는데, seconds가 10보다 작으면 0+seconds, 아니면 seconds를 대입함.
            seconds = seconds < 10 ? '0' + seconds : seconds
        
            return minutes + ":" + seconds
          }
      
          function updateTimerDisplay() {
            const currentTime = document.querySelector("#current-time")
            currentTime.innerText = formatTime(player.getCurrentTime())
            const duration = document.querySelector("#duration")
            duration.innerText = formatTime(player.getDuration())
          }

          updateTimerDisplay()

          const progressBar = document.querySelector("#progress-bar")
          // 초기 프로그레스바 색상 설정

          function updateProgressBar() {
            progressBar.value = (player.getCurrentTime() / player.getDuration()) * 100
            progressBar.style.background = 'linear-gradient(to right, #fff 0%, #fff '+progressBar.value +'%, #6c757d ' + progressBar.value + '%, #6c757d 100%)'
          }
      
          updateProgressBar()

          progressBar.addEventListener('mouseup', function(e) {
            var newTime = player.getDuration() * (e.target.value / 100)
            player.seekTo(newTime)
          })
          progressBar.addEventListener('touchend', function(e) {
            var newTime = player.getDuration() * (e.target.value / 100)
            player.seekTo(newTime)
          })

          function updateNowPlayingDisplay() {
            // bottomPlayer
            const nowPlayingSm = document.querySelector('#now-playing-sm')
            nowPlayingSm.src = `https://i.ytimg.com/vi/${videoIDs[currentVideoId]}/hqdefault.jpg`
            const nowPlayingTitle = document.querySelector('#now-playing-title')
            nowPlayingTitle.innerText = videoTitles[currentVideoId]
            const nowPlayingChannel = document.querySelector('#now-playing-channel')
            nowPlayingChannel.innerText = videoChannels[currentVideoId]

            // detailPlayer
            if (document.querySelector('#song')) {
              const detailPlayingId = document.querySelector('#detail-playing-id')
              detailPlayingId.innerText = videoIDs[currentVideoId]
              const detailPlayingTitle = document.querySelector('#detail-playing-title')
              detailPlayingTitle.innerText = videoTitles[currentVideoId]
              const detailPlayingChannel = document.querySelector('#detail-playing-channel')
              detailPlayingChannel.innerText = videoChannels[currentVideoId]
              const detailPlayingLink = document.querySelector('#detail-playing-link')
              var link ="{% url 'articles:song_detail' 12345 %}".replace(/12345/, video_id=videoIDs[currentVideoId]);
              detailPlayingLink.href = link
              const playlistItems = document.querySelectorAll('#playlist-item')
              playlistItems.forEach((playlistActive) => {
                const playlistTitle = playlistActive.querySelector('#playlist-title')
                if (playlistTitle.innerText == videoTitles[currentVideoId]) {
                  playlistActive.classList.add('bg-dark')
                } else {
                  playlistActive.classList.remove('bg-dark')
                }
              })
            }
            if (document.querySelector('.playlist')) {
              const playlistItems = document.querySelectorAll('#playlist-item')
              playlistItems.forEach((playlistActive) => {
                const playlistTitle = playlistActive.querySelector('#playlist-title')
                if (playlistTitle.innerText == videoTitles[currentVideoId]) {
                  playlistActive.classList.add('bg-dark')
                } else {
                  playlistActive.classList.remove('bg-dark')
                }
              })
            }
          }

          updateNowPlayingDisplay()
          
          time_update_interval = setInterval(function () {
            updateTimerDisplay();
            updateProgressBar();
            updateNowPlayingDisplay();
          }, 1000)

          session_update_interval = setInterval(function () {
            window.sessionStorage.setItem('index', player.getPlaylistIndex())
            window.sessionStorage.setItem('time', player.getCurrentTime())
          }, 1)
        }
  
        // 5. 플레이어 상태가 바뀌었을 때 실행될 함수
        var done = false;
        const videoButton = document.querySelector("#video-button")
        function onPlayerStateChange(event) {
          // 버퍼링 중일 때
          if (event.data==-1) {
            // 플레이리스트 인덱스를 받아와서 현재 재생 중인 비디오 아이디에 넣는다.
            currentVideoId = player.getPlaylistIndex()
          }
          // 재생 중일 때
          else if (event.data == YT.PlayerState.PLAYING && !done) {
            videoButton.classList.add("bi-pause-fill")
            videoButton.classList.remove("bi-play-fill")
          }
          // 일시정지 중일 때
          else if (event.data == YT.PlayerState.PAUSED && !done) {
            videoButton.classList.add("bi-play-fill")
            videoButton.classList.remove("bi-pause-fill")
          }
          // 끝났을 때
          else if (event.data == YT.PlayerState.ENDED) {
            videoButton.classList.add("bi-play-fill")
            videoButton.classList.remove("bi-pause-fill")
          }
          if (document.querySelector('#song')) {
            const song = document.querySelector('#song')
            const songImg = song.querySelector('img')
            songImg.src = `https://i.ytimg.com/vi/${videoIDs[currentVideoId]}/hqdefault.jpg`
            bottomPlayer.classList.add('d-none')
            if (document.querySelector('#playlist-bottom')) {
              const body = document.querySelector('body')
              body.style.overflow = 'hidden'
            }
          } else {
            bottomPlayer.classList.remove('d-none')
          }
          if (document.querySelector('.playlist')) {
            const body = document.querySelector('body')
            body.style.overflow = 'hidden'
          }
        }
        function playVideo() {
          player.playVideo();
        }
        function pauseVideo() {
          player.pauseVideo();
        }
        function stopVideo() {
          player.stopVideo();
        }
      </script>
      <script>
        document.addEventListener('click', function(e) {
          <!-- addPlayList -->
          // 프로필 뮤직(선택창) 재생
          if (e.target.closest("div.profile-music")) {
            slideUp(bottomPlayer, duration=500)
            const profileMusic = e.target.closest("div.profile-music").querySelector('div.search-item')
            const profileTitle = profileMusic.querySelector('div.music_title').innerText
            const profileChannel = profileMusic.querySelector('div.music_channel').innerText

            // 플레이리스트에 이미 존재하는 노래인지 판단
            // 플레이리스트에 존재한다면
            if (videoIDs.includes(profileMusic.id)) {
              const idx = videoIDs.indexOf(profileMusic.id)
              // 가장 마지막 인덱스가 아니라면 기존 인덱스 삭제하고 새로 추가
              if (idx > -1 && idx < videoIDs.length - 1) {
                videoIDs.splice(idx, 1)
                videoIDs.push(profileMusic.id)
                videoTitles.splice(idx, 1)
                videoTitles.push(profileTitle)
                videoChannels.splice(idx, 1)
                videoChannels.push(profileChannel)
              }
            // 플레이리스트에 없다면 추가
            } else {
              videoIDs.push(profileMusic.id)
              videoTitles.push(profileTitle)
              videoChannels.push(profileChannel)
            }
            window.sessionStorage.setItem('videoIDs', JSON.stringify(videoIDs))
            window.sessionStorage.setItem('videoTitles', JSON.stringify(videoTitles))
            window.sessionStorage.setItem('videoChannels', JSON.stringify(videoChannels))

            player.loadPlaylist( {
              playlist:videoIDs,
              index: videoIDs.length - 1
            } );
          }

          // 프로필 뮤직 재생
          if (e.target.closest("div.my-music")) {
            slideUp(bottomPlayer, duration=500)
            const myMusic = e.target.closest("div.my-music").querySelector('div.vid')
            const myTitle = myMusic.querySelector('div.my-title').innerText
            const myChannel = myMusic.querySelector('div.my-channel').innerText

            // 플레이리스트에 이미 존재하는 노래인지 판단
            // 플레이리스트에 존재한다면
            if (videoIDs.includes(myMusic.id)) {
              const idx = videoIDs.indexOf(myMusic.id)
              // 가장 마지막 인덱스가 아니라면 기존 인덱스 삭제하고 새로 추가
              if (idx > -1 && idx < videoIDs.length - 1) {
                videoIDs.splice(idx, 1)
                videoIDs.push(myMusic.id)
                videoTitles.splice(idx, 1)
                videoTitles.push(myTitle)
                videoChannels.splice(idx, 1)
                videoChannels.push(myChannel)
              }
            // 플레이리스트에 없다면 추가
            } else {
              videoIDs.push(myMusic.id)
              videoTitles.push(myTitle)
              videoChannels.push(myChannel)
            }

            window.sessionStorage.setItem('videoIDs', JSON.stringify(videoIDs))
            window.sessionStorage.setItem('videoTitles', JSON.stringify(videoTitles))
            window.sessionStorage.setItem('videoChannels', JSON.stringify(videoChannels))

            player.loadPlaylist( {
              playlist:videoIDs,
              index: videoIDs.length - 1
            } ); 
          }

          // 아티클 뮤직 재생
          if (e.target.closest("div.article-music")) {
            slideUp(bottomPlayer, duration=500)
            const articleMusic = e.target.closest("div.article-music").querySelector('div.music-vidid')
            const articleTitle = document.querySelector('div.article-title').innerText
            const articleChannel = document.querySelector('div.article-channel').innerText

            // 플레이리스트에 이미 존재하는 노래인지 판단
            // 플레이리스트에 존재한다면
            if (videoIDs.includes(articleMusic.id)) {
              const idx = videoIDs.indexOf(articleMusic.id)
              // 가장 마지막 인덱스가 아니라면 기존 인덱스 삭제하고 새로 추가
              if (idx > -1 && idx < videoIDs.length - 1) {
                videoIDs.splice(idx, 1)
                videoIDs.push(articleMusic.id)
                videoTitles.splice(idx, 1)
                videoTitles.push(articleTitle)
                videoChannels.splice(idx, 1)
                videoChannels.push(articleChannel)
              }
            // 플레이리스트에 없다면 추가
            } else {
              videoIDs.push(articleMusic.id)
              videoTitles.push(articleTitle)
              videoChannels.push(articleChannel)
            }

            window.sessionStorage.setItem('videoIDs', JSON.stringify(videoIDs))
            window.sessionStorage.setItem('videoTitles', JSON.stringify(videoTitles))
            window.sessionStorage.setItem('videoChannels', JSON.stringify(videoChannels))

            player.loadPlaylist( {
              playlist:videoIDs,
              index: videoIDs.length - 1
            } );
          }

          // 디테일 페이지 뮤직 재생
          if (e.target.closest("div.detail-music")) {
            slideUp(bottomPlayer, duration=500)
            const detailMusic = e.target.closest("div.detail-music").querySelector('input.vidid')
            const detailTitle = e.target.closest("div.detail-music").querySelector('input.title').id
            const detailChannel = e.target.closest("div.detail-music").querySelector('input.channel').id

            // 플레이리스트에 이미 존재하는 노래인지 판단
            // 플레이리스트에 존재한다면
            if (videoIDs.includes(detailMusic.id)) {
              const idx = videoIDs.indexOf(detailMusic.id)
              // 가장 마지막 인덱스가 아니라면 기존 인덱스 삭제하고 새로 추가
              if (idx > -1 && idx < videoIDs.length - 1) {
                videoIDs.splice(idx, 1)
                videoIDs.push(detailMusic.id)
                videoTitles.splice(idx, 1)
                videoTitles.push(detailTitle)
                videoChannels.splice(idx, 1)
                videoChannels.push(detailChannel)
              }
            // 플레이리스트에 없다면 추가
            } else {
              videoIDs.push(detailMusic.id)
              videoTitles.push(detailTitle)
              videoChannels.push(detailChannel)
            }

            window.sessionStorage.setItem('videoIDs', JSON.stringify(videoIDs))
            window.sessionStorage.setItem('videoTitles', JSON.stringify(videoTitles))
            window.sessionStorage.setItem('videoChannels', JSON.stringify(videoChannels))

            player.loadPlaylist( {
              playlist:videoIDs,
              index: videoIDs.length - 1
            } );
          }

          // 플레이리스트 뮤직 재생
          if (e.target.closest("div.playlist-item")) {
            slideUp(bottomPlayer, duration=500)
            const playlistMusic = e.target.closest("div.playlist-item").querySelector('div.playlist-vidid')
            const playlistTitle = document.querySelector('p.playlist-title').innerText
            const playlistChannel = document.querySelector('p.playlist-channel').innerText

            const idx = videoIDs.indexOf(playlistMusic.id)
            
            player.loadPlaylist( {
              playlist:videoIDs,
              index: idx
            } );

          }
        })
      </script>
      <script>
        const bottomPlayer = document.querySelector('.bottom_player')
        let isMouseDown = false
        let startY, endY

        bottomPlayer.addEventListener('mousedown', (e) => {
          isMouseDown = true
          bottomPlayer.classList.add('active')

          startY = e.pageY
        })
        bottomPlayer.addEventListener('touchstart', (e) => {
          isMouseDown = true
          bottomPlayer.classList.add('active')

          startY = e.pageY
        })

        bottomPlayer.addEventListener('mouseleave', (e) => {
          endY = e.pageY
          if (isMouseDown && (endY - startY) > 30) {
            slideDown(bottomPlayer, duration=400)
          }

          isMouseDown = false
          bottomPlayer.classList.remove('active')
        })

        bottomPlayer.addEventListener('mouseup', (e) => {
          endY = e.pageY
          if (isMouseDown && (endY - startY) > 30) {
            slideDown(bottomPlayer, duration=400)
          }

          isMouseDown = false
          bottomPlayer.classList.remove('active')
        })
        bottomPlayer.addEventListener('touchend', (e) => {
          endY = e.pageY
          if (isMouseDown && (endY - startY) > 0) {
            slideDown(bottomPlayer, duration=400)
          }

          isMouseDown = false
          bottomPlayer.classList.remove('active')
        })

        let slideDown = (target, duration=500) => {
          player.stopVideo()
          target.style.transitionProperty = 'height, margin, padding';
          target.style.transitionDuration = duration + 'ms';
          target.style.boxSizing = 'border-box';
          target.style.height = target.offsetHeight + 'px';
          target.offsetHeight;
          target.style.overflow = 'hidden';
          target.style.height = 0;
          target.style.paddingTop = 0;
          target.style.paddingBottom = 0;
          target.style.marginTop = 0;
          target.style.marginBottom = 0;
          window.setTimeout( () => {
            target.style.display = 'none';
            target.style.removeProperty('height');
            target.style.removeProperty('padding-top');
            target.style.removeProperty('padding-bottom');
            target.style.removeProperty('margin-top');
            target.style.removeProperty('margin-bottom');
            target.style.removeProperty('overflow');
            target.style.removeProperty('transition-duration');
            target.style.removeProperty('transition-property');
            //alert("!");
          }, duration);
        }

        let slideUp = (target, duration=500) => {
          target.style.removeProperty('display');
          let display = window.getComputedStyle(target).display;
      
          if (display === 'none')
            display = 'block';
      
          target.style.display = display;
          let height = target.offsetHeight;
          target.style.overflow = 'hidden';
          target.style.height = 0;
          target.style.paddingTop = 0;
          target.style.paddingBottom = 0;
          target.style.marginTop = 0;
          target.style.marginBottom = 0;
          target.offsetHeight;
          target.style.boxSizing = 'border-box';
          target.style.transitionProperty = "height, margin, padding";
          target.style.transitionDuration = duration + 'ms';
          target.style.height = height + 'px';
          target.style.removeProperty('padding-top');
          target.style.removeProperty('padding-bottom');
          target.style.removeProperty('margin-top');
          target.style.removeProperty('margin-bottom');
          window.setTimeout( () => {
            target.style.removeProperty('height');
            target.style.removeProperty('overflow');
            target.style.removeProperty('transition-duration');
            target.style.removeProperty('transition-property');
          }, duration);
        }
      </script>
      <!--지도 스크립트-->
      <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQjvkVCuRWteXvMvioRJZ0P24bi_XSHaw&callback=initMap&libraries=marker,places&region=KR&v=beta" defer></script>
      <script>
        if (document.querySelector('#create-place')) {
          const mapParentDive = document.querySelector('#map-parent-div')
          mapParentDive.innerHTML = '<div id="map" class="mb-3" style="width: 295px; height: 195px;"></div>'
        } else {
          const baseMapParent = document.querySelector('#base-map-parent')
          baseMapParent.innerHTML = '<div id="map" class="d-none mb-3" style="width: 295px; height: 195px;"></div>'
        }

        function initMap() {
          map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: -34.397, lng: 150.644 },
            zoom: 17,
            gestureHandling: "none",
            zoomControl: false,
            disableDefaultUI: true,
          });
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
              (position) => {
                const pos = {
                  lat: position.coords.latitude,
                  lng: position.coords.longitude,
                };
      
                map.setCenter(pos);
      
                var geocoder = new google.maps.Geocoder
      
                geocoder.geocode({'location': pos}, function(results, status) {
                  if (status === 'OK') {
                    var placeId1 = results[0].place_id
                    var request1 = {
                      placeId: placeId1,
                      fields: ['address_component', 'adr_address', 'business_status', 'formatted_address', 'geometry', 'icon', 'icon_mask_base_uri', 'icon_background_color', 'name', 'photo', 'place_id', 'plus_code', 'type', 'url', 'utc_offset_minutes', 'vicinity'],
                    };
      
                    var placeId2 = results[1].place_id
                    var request2 = {
                      placeId: placeId2,
                      fields: ['address_component', 'adr_address', 'business_status', 'formatted_address', 'geometry', 'icon', 'icon_mask_base_uri', 'icon_background_color', 'name', 'photo', 'place_id', 'plus_code', 'type', 'url', 'utc_offset_minutes', 'vicinity'],
                    };
      
                    var placeId3 = results[2].place_id
                    var request3 = {
                      placeId: placeId3,
                      fields: ['address_component', 'adr_address', 'business_status', 'formatted_address', 'geometry', 'icon', 'icon_mask_base_uri', 'icon_background_color', 'name', 'photo', 'place_id', 'plus_code', 'type', 'url', 'utc_offset_minutes', 'vicinity'],
                    };
      
                    service = new google.maps.places.PlacesService(map);
                    service.getDetails(request1, callback1);
                    service.getDetails(request2, callback2);
                    service.getDetails(request3, callback3);
                    
                    function callback1(place, status) {
                      if (status == google.maps.places.PlacesServiceStatus.OK) {
                          var markerView = new google.maps.Marker({
                            map: map,
                            position: pos,
                          })
                          if (document.querySelector('#create-place')) {
                            const searchPlaceInput = document.querySelector('#search-place-input')
                            searchPlaceInput.value = place.name
                            const place1 = document.querySelector('#place-1')
                            place1.innerText = place.name
                          } 
                          const basePlace1 = document.querySelector('#base-place-1')
                          basePlace1.innerText = place.name
                          
                          var value = place.name
                          document.cookie = "key=" + value
                          console.log(document.cookie)
                      }
                    }
      
                    function callback2(place, status) {
                      if (status == google.maps.places.PlacesServiceStatus.OK) {
                          var markerView = new google.maps.Marker({
                            map: map,
                            position: pos,
                          })
                          if (document.querySelector('#create-place')) {
                            const place2 = document.querySelector('#place-2')
                            place2.innerText = place.name
                          }
                          const basePlace2 = document.querySelector('#base-place-2')
                          basePlace2.innerText = place.name
                      }
                    }
      
                    function callback3(place, status) {
                      if (status == google.maps.places.PlacesServiceStatus.OK) {
                          var markerView = new google.maps.Marker({
                            map: map,
                            position: pos,
                          })
                          if (document.querySelector('#create-place')) {
                            const place3 = document.querySelector('#place-3')
                            place3.innerText = place.name
                          }
                          const basePlace3 = document.querySelector('#base-place-3')
                          basePlace3.innerText = place.name
                      }
                    }
                  } else {
                    console.log('잘못된 주소.')
                  }
                })
              },
              
              () => {
                handleLocationError(true, infoWindow, map.getCenter());
              }
            );
          } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
          }
      
          map.addListener("click", () => {
            window.setTimeout(() => {
              if (document.querySelector('div.poi-info-window')) {
                const searchPlace = document.querySelector('div.poi-info-window').querySelector('div.title').innerText
                const searchPlaceInput = document.querySelector('#search-place-input')
                searchPlaceInput.value = searchPlace
              }
            }, 1000);
          });
        }
      
        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
          infoWindow.setPosition(pos);
          infoWindow.setContent(
            browserHasGeolocation
              ? "Error: The Geolocation service failed."
              : "Error: Your browser doesn't support geolocation."
          );
          infoWindow.open(map);
        }
      
        window.initMap = initMap;

        function placeToView(place) {
          const placeToViewForm = document.querySelector('#place-to-view-form')
          const placeToViewInput = document.querySelector('#place-to-view-input')
          placeToViewInput.value = place
          placeToViewForm.submit()
        }


      </script>
    </footer>


    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script defer="defer" src="{% static 'js/script.js' %}"></script>
    {% block script %}{% endblock %}
  </body>

</html>