{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Mood</title>
    {% bootstrap_css %}
    <!-- 부트스트랩 아이콘 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/articles.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    {% block style %}{% endblock %} 
    <!--fontawesome icon-->
    <script src="https://kit.fontawesome.com/50ae24f515.js" crossorigin="anonymous"></script> 
    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script defer="defer" src="{% static 'js/script.js' %}"></script>
    <!-- 지도 가져오기 -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="module" src="{% static 'js/location.js' %}?2"></script>
    <!-- <script type="module" src='/static/js/location.js'></script> -->
  </head>
  
  <body>
    <!-- nav -->
    <header>
      <nav class="navbar">
          <div class="navbar__logo">
            <i class="bi bi-music-note-beamed"></i>
            <a href="{% url 'articles:private' %}">
              Current Mood
            </a>
          </div>

        <div class="navbar__top">
          <div class="location">
            <i class="bi bi-geo-alt"></i>
            블루보틀 역삼 카페
          </div>
          <div class="navbar__togleBtn">
            <a href="#" class="navbar__togleBtn--open">
              <i class="fa-sharp fa-solid fa-bars"></i>
            </a>
            <a href="#" class="navbar__togleBtn--close">
              <i class="fa-sharp fa-solid fa-xmark"></i>
            </a>
          </div>
        </div>    

        <ul class="navbar__links">
          <li><a href="{% url 'articles:private' %}"><i class="fa-sharp fa-solid fa-house"></i> 홈</a></li>
          {% if request.user.is_authenticated %}
          <li><a href="{% url 'accounts:mypage' %}"><i class="fa-solid fa-user"></i> 내 정보</a></li>
          <li><a href="#"><i class="bi bi-music-note-list"></i> 보관함</a></li>
          <li class="navbar-logout"><a href="{% url 'accounts:logout' %}">로그아웃</a></li>
          {% else %}
          <li><a href="{% url 'accounts:login' %}">로그인</a></li>
          <li><a href="{% url 'accounts:signup' %}">회원가입</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <div id="wrap">
      <section>
        {% block body %}{% endblock body %}
      </section>
      <div class="footer">
        footer
      </div>
    </div>
    
    <hr>



    <footer>
      <div id="player" class="d-none"></div>
      <!-- 플레이 시간 숨기기 -->
      <div id="bottom-time" class="d-none gap-3">
        <div id="current-time">0:00</div>
        <input id="progress-bar" type="range" value="0">
        <div id="duration">0:00</div>
      </div>
      <!-- 하단 플레이어 -->
      <div class="bottom_player fixed-bottom">
        <hr class="my-0">
        <div class="d-flex justify-content-center align-items-center bg-black">
          <a href="{% url 'articles:song' %}" class="col-9 d-flex justify-content-center align-items-center">
            <img id="now-playing-sm" class="col-3" src="" alt="">
            <div class="col-9 mx-3">
              <p id="now-playing-title" class="m-0">재생 중인 곡이 없습니다</p>
              <p id="now-playing-channel" class="m-0 opacity-75"></p>
            </div>
          </a>
          <div class="col-3">
            <i id="previous" class="bi bi-skip-start-fill fs-1" style="cursor: pointer;"></i>
            <i id="video-button" class="bi bi-play-fill fs-1" style="cursor: pointer;"></i>
            <i id="next" class="bi bi-skip-end-fill fs-1" style="cursor: pointer;"></i>
          </div>
        </div>
        <hr class="my-0">
      </div>
      <script>
        // 2. iframe api 불러오기
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // 3. 비디오 플레이어 만들기

        // 재생목록 생성
        var videoIDs = JSON.parse(window.sessionStorage.getItem('videoIDs'))
        var videoTitles = JSON.parse(window.sessionStorage.getItem('videoTitles'))
        var videoChannels = JSON.parse(window.sessionStorage.getItem('videoChannels'))
        if (videoIDs) {
          console.log(videoIDs)
        } else {
          window.sessionStorage.setItem('videoIDs', JSON.stringify(['is-rjsfoYtY']))
          window.sessionStorage.setItem('videoTitles', JSON.stringify(["KARA (카라) 'WHEN I MOVE' Official MV"]))
          window.sessionStorage.setItem('videoChannels', JSON.stringify(["KARA Official"]))
        }

        // 플레이어 생성
        var player, currentVideoId = 0;
        const time = window.sessionStorage.time
        function onYouTubeIframeAPIReady() {
          player = new YT.Player('player', {
            height: '360',
            width: '480',
            playerVars: {
              controls: 0,
            },
            events: {
              'onReady': onPlayerReady,
              'onStateChange': onPlayerStateChange
            }
          });
        }

        // 4. 비디오 플레이어가 준비되었을 때 실행할 함수
        function onPlayerReady(event) {
          const index = window.sessionStorage.index
          const time = window.sessionStorage.time
          if (index > videoIDs.length-1) {
            player.loadPlaylist({playlist:videoIDs,
              index:0,
              startSeconds:0,
            })
          } else {
            player.loadPlaylist({playlist:videoIDs,
                      index:index,
                      startSeconds:time,
            })
          }
          videoButton.addEventListener('click', function(event) {
            if (videoButton.classList.contains("bi-play-fill")) {
              playVideo()
            }
            else {
              pauseVideo()
            }
          })

          var next = document.getElementById("next");
          next.addEventListener("click", function() {
            if (currentVideoId < videoIDs.length - 1) {
              currentVideoId++;
              player.nextVideo();
            }
            else {
              player.playVideoAt(currentVideoId)
            }
          });
          
          var pre = document.getElementById("previous");
          pre.addEventListener("click", function() {
            if (currentVideoId > 0) {
              currentVideoId--;
              player.previousVideo();
            }
            else {
              player.playVideoAt(currentVideoId)
            }
          });

          function formatTime(time) {
            time = Math.round(time)
        
            var minutes = Math.floor(time / 60),
            seconds = time - minutes * 60
        
            // seconds에 값을 대입하는데, seconds가 10보다 작으면 0+seconds, 아니면 seconds를 대입함.
            seconds = seconds < 10 ? '0' + seconds : seconds
        
            return minutes + ":" + seconds
          }
      
          function updateTimerDisplay() {
            const currentTime = document.querySelector("#current-time")
            currentTime.innerText = formatTime(player.getCurrentTime())
            const duration = document.querySelector("#duration")
            duration.innerText = formatTime(player.getDuration())
          }

          updateTimerDisplay()

          const progressBar = document.querySelector("#progress-bar")
          // 초기 프로그레스바 색상 설정

          function updateProgressBar() {
            progressBar.value = (player.getCurrentTime() / player.getDuration()) * 100
            progressBar.style.background = 'linear-gradient(to right, #fff 0%, #fff '+progressBar.value +'%, #6c757d ' + progressBar.value + '%, #6c757d 100%)'
          }
      
          updateProgressBar()

          progressBar.addEventListener('mouseup', function(e) {
            var newTime = player.getDuration() * (e.target.value / 100)
            player.seekTo(newTime)
          })
          progressBar.addEventListener('touchend', function(e) {
            var newTime = player.getDuration() * (e.target.value / 100)
            player.seekTo(newTime)
          })

          function updateNowPlayingDisplay() {
            const nowPlayingSm = document.querySelector('#now-playing-sm')
            nowPlayingSm.src = `https://i.ytimg.com/vi/${videoIDs[currentVideoId]}/default.jpg`
            const nowPlayingTitle = document.querySelector('#now-playing-title')
            nowPlayingTitle.innerText = videoTitles[currentVideoId]
            const nowPlayingChannel = document.querySelector('#now-playing-channel')
            nowPlayingChannel.innerText = videoChannels[currentVideoId]
            const playlist = document.querySelectorAll('#playlist-item')
            playlist.forEach((playlistActive) => {
              const playlistTitle = playlistActive.querySelector('#playlist-title')
              if (playlistTitle.innerText == videoTitles[currentVideoId]) {
                playlistActive.classList.add('bg-dark')
              } else {
                playlistActive.classList.remove('bg-dark')
              }
            })
          }

          updateNowPlayingDisplay()
          
          time_update_interval = setInterval(function () {
            updateTimerDisplay();
            updateProgressBar();
            updateNowPlayingDisplay();
          }, 1000)

          session_update_interval = setInterval(function () {
            window.sessionStorage.setItem('index', player.getPlaylistIndex())
            window.sessionStorage.setItem('time', player.getCurrentTime())
          }, 1)
        }
  
        // 5. 플레이어 상태가 바뀌었을 때 실행될 함수
        var done = false;
        const videoButton = document.querySelector("#video-button")
        console.log(videoButton)
        function onPlayerStateChange(event) {
          // 버퍼링 중일 때
          if (event.data==-1) {
            // 플레이리스트 인덱스를 받아와서 현재 재생 중인 비디오 아이디에 넣는다.
            currentVideoId = player.getPlaylistIndex()
          }
          // 재생 중일 때
          else if (event.data == YT.PlayerState.PLAYING && !done) {
            videoButton.classList.add("bi-pause-fill")
            videoButton.classList.remove("bi-play-fill")
          }
          // 일시정지 중일 때
          else if (event.data == YT.PlayerState.PAUSED && !done) {
            videoButton.classList.add("bi-play-fill")
            videoButton.classList.remove("bi-pause-fill")
          }
          // 끝났을 때
          else if (event.data == YT.PlayerState.ENDED) {
            videoButton.classList.add("bi-play-fill")
            videoButton.classList.remove("bi-pause-fill")
          }
          if (document.querySelector('#song')) {
            const song = document.querySelector('#song')
            const songImg = song.querySelector('img')
            songImg.src = `https://i.ytimg.com/vi/${videoIDs[currentVideoId]}/hqdefault.jpg`
            bottomPlayer.classList.add('d-none')
          } else {
            bottomPlayer.classList.remove('d-none')
          }
        }
        function playVideo() {
          player.playVideo();
        }
        function pauseVideo() {
          player.pauseVideo();
        }
        function stopVideo() {
          player.stopVideo();
        }
      </script>
      <script>
        document.addEventListener('click', function(e) {
          <!-- addPlayList -->
          // 프로필 뮤직(선택창) 재생
          if (e.target.closest("div.profile-music")) {
            slideUp(bottomPlayer, duration=500)
            const profileMusic = e.target.closest("div.profile-music").querySelector('div.search-item')
            const profileTitle = profileMusic.querySelector('div.music_title').innerText
            const profileChannel = profileMusic.querySelector('div.music_channel').innerText

            // 플레이리스트에 이미 존재하는 노래인지 판단
            // 플레이리스트에 존재한다면
            if (videoIDs.includes(profileMusic.id)) {
              const idx = videoIDs.indexOf(profileMusic.id)
              // 가장 마지막 인덱스가 아니라면 기존 인덱스 삭제하고 새로 추가
              if (idx > -1 && idx < videoIDs.length - 1) {
                videoIDs.splice(idx, 1)
                videoIDs.push(profileMusic.id)
                videoTitles.splice(idx, 1)
                videoTitles.push(profileTitle)
                videoChannels.splice(idx, 1)
                videoChannels.push(profileChannel)
              }
            // 플레이리스트에 없다면 추가
            } else {
              videoIDs.push(profileMusic.id)
              videoTitles.push(profileTitle)
              videoChannels.push(profileChannel)
            }
            window.sessionStorage.setItem('videoIDs', JSON.stringify(videoIDs))
            window.sessionStorage.setItem('videoTitles', JSON.stringify(videoTitles))
            window.sessionStorage.setItem('videoChannels', JSON.stringify(videoChannels))

            player.loadPlaylist( {
              playlist:videoIDs,
              index: videoIDs.length - 1
            } );
          }

          // 프로필 뮤직 재생
          if (e.target.closest("div.my-music")) {
            slideUp(bottomPlayer, duration=500)
            const myMusic = e.target.closest("div.my-music").querySelector('div.vid')
            const myTitle = myMusic.querySelector('div.title').innerText
            const myChannel = myMusic.querySelector('div.channel').innerText

            // 플레이리스트에 이미 존재하는 노래인지 판단
            // 플레이리스트에 존재한다면
            if (videoIDs.includes(myMusic.id)) {
              const idx = videoIDs.indexOf(myMusic.id)
              // 가장 마지막 인덱스가 아니라면 기존 인덱스 삭제하고 새로 추가
              if (idx > -1 && idx < videoIDs.length - 1) {
                videoIDs.splice(idx, 1)
                videoIDs.push(myMusic.id)
                videoTitles.splice(idx, 1)
                videoTitles.push(myTitle)
                videoChannels.splice(idx, 1)
                videoChannels.push(myChannel)
              }
            // 플레이리스트에 없다면 추가
            } else {
              videoIDs.push(myMusic.id)
              videoTitles.push(myTitle)
              videoChannels.push(myChannel)
            }

            window.sessionStorage.setItem('videoIDs', JSON.stringify(videoIDs))
            window.sessionStorage.setItem('videoTitles', JSON.stringify(videoTitles))
            window.sessionStorage.setItem('videoChannels', JSON.stringify(videoChannels))

            player.loadPlaylist( {
              playlist:videoIDs,
              index: videoIDs.length - 1
            } ); 
          }

          // 플레이리스트 뮤직 재생
          if (e.target.closest("div.playlist-item")) {
            slideUp(bottomPlayer, duration=500)
            const playlistMusic = e.target.closest("div.playlist-item").querySelector('div.playlist-vidid')
            const playlistTitle = document.querySelector('p.playlist-title').innerText
            const playlistChannel = document.querySelector('p.playlist-channel').innerText

            const idx = videoIDs.indexOf(playlistMusic.id)
            
            player.loadPlaylist( {
              playlist:videoIDs,
              index: idx
            } );

          }
        })
      </script>
      <script>
        const bottomPlayer = document.querySelector('.bottom_player')
        let isMouseDown = false
        let startY, endY

        bottomPlayer.addEventListener('mousedown', (e) => {
          isMouseDown = true
          bottomPlayer.classList.add('active')

          startY = e.pageY
          console.log(startY)
        })
        bottomPlayer.addEventListener('touchstart', (e) => {
          isMouseDown = true
          bottomPlayer.classList.add('active')

          startY = e.pageY
          console.log(startY)
        })

        bottomPlayer.addEventListener('mouseleave', (e) => {
          endY = e.pageY
          console.log(endY)
          if (isMouseDown && (endY - startY) > 30) {
            slideDown(bottomPlayer, duration=400)
          }

          isMouseDown = false
          bottomPlayer.classList.remove('active')
        })

        bottomPlayer.addEventListener('mouseup', (e) => {
          endY = e.pageY
          console.log(endY)
          if (isMouseDown && (endY - startY) > 30) {
            slideDown(bottomPlayer, duration=400)
          }

          isMouseDown = false
          bottomPlayer.classList.remove('active')
        })
        bottomPlayer.addEventListener('touchend', (e) => {
          endY = e.pageY
          console.log(endY)
          if (isMouseDown && (endY - startY) > 0) {
            slideDown(bottomPlayer, duration=400)
          }

          isMouseDown = false
          bottomPlayer.classList.remove('active')
        })

        let slideDown = (target, duration=500) => {
          player.stopVideo()
          target.style.transitionProperty = 'height, margin, padding';
          target.style.transitionDuration = duration + 'ms';
          target.style.boxSizing = 'border-box';
          target.style.height = target.offsetHeight + 'px';
          target.offsetHeight;
          target.style.overflow = 'hidden';
          target.style.height = 0;
          target.style.paddingTop = 0;
          target.style.paddingBottom = 0;
          target.style.marginTop = 0;
          target.style.marginBottom = 0;
          window.setTimeout( () => {
            target.style.display = 'none';
            target.style.removeProperty('height');
            target.style.removeProperty('padding-top');
            target.style.removeProperty('padding-bottom');
            target.style.removeProperty('margin-top');
            target.style.removeProperty('margin-bottom');
            target.style.removeProperty('overflow');
            target.style.removeProperty('transition-duration');
            target.style.removeProperty('transition-property');
            //alert("!");
          }, duration);
        }

        let slideUp = (target, duration=500) => {
          target.style.removeProperty('display');
          let display = window.getComputedStyle(target).display;
      
          if (display === 'none')
            display = 'block';
      
          target.style.display = display;
          let height = target.offsetHeight;
          target.style.overflow = 'hidden';
          target.style.height = 0;
          target.style.paddingTop = 0;
          target.style.paddingBottom = 0;
          target.style.marginTop = 0;
          target.style.marginBottom = 0;
          target.offsetHeight;
          target.style.boxSizing = 'border-box';
          target.style.transitionProperty = "height, margin, padding";
          target.style.transitionDuration = duration + 'ms';
          target.style.height = height + 'px';
          target.style.removeProperty('padding-top');
          target.style.removeProperty('padding-bottom');
          target.style.removeProperty('margin-top');
          target.style.removeProperty('margin-bottom');
          window.setTimeout( () => {
            target.style.removeProperty('height');
            target.style.removeProperty('overflow');
            target.style.removeProperty('transition-duration');
            target.style.removeProperty('transition-property');
          }, duration);
        }

      </script>
    </footer>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script defer="defer" src="{% static 'js/script.js' %}"></script>
    {% block script %}{% endblock %}
  </body>

</html>